/**
 * Page header
 *
 * Elements
 * __title
 * __meta-group
 *
 */
.page-header {
	margin-bottom: calc(var(--row) * 4);

	&__title {
		margin: 0;
	}

	&__meta-group {
		margin-top: calc(var(--row) * 1);
	}

	.meta {
		display: inline;

		&--author {
			.meta__content:after {
				content: ' \2014' ;
			}
		}

		&__content {
			font-size: inherit;
		}
	}

	.meta__label {
		display: none;
	}

	@media (--from-breakpoint-5) {
		margin-bottom: calc(var(--row) * 5);
	}
}

