.page {
	
}

.page__header {

	body.is-singular & {
		@mixin has-page-content;
	}

	margin-bottom: var(--space-4);

	.page__title {
		margin-bottom: 0;
	}

	.meta-group {
		margin-top: var(--space-1);
	}

	.meta {
		display: inline;

		&--author {
			.meta__content:after {
				content: ' \2014' ;
			}
		}

		&__content {
			font-size: inherit;
		}
	}

	.meta__label {
		display: none;
	}

	@media (--from-breakpoint-5) {
		margin-bottom: var(--space-12);
	}
}

.page__content {
	@mixin has-page-content;
}

.page__footer {
	@mixin has-page-content;

	.meta {
		margin-top: var(--space-8);
		margin-bottom: var(--space-8);

		&__content {
			font-size: inherit;
		}
	}

	.post-navigation {
	}

	@media (--from-breakpoint-4) {
		margin-right: calc(var(--column-gutter) * -1);
	}
}
