.site {
	@mixin margin-collapse-fix;
	@mixin full-page-content-overflow-fix;
	clear: both;
	min-height: 100vh;

	/* background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: var(--font-1-family);
	line-height: var(--font-1-line-height); */
}

.has-expanded-site-nav .site {
	/**
	 * Prevent scrolling
	 */
	overflow-y: hidden;
  	overscroll-behavior: contain;
  	height: 100vh;

/* 	@media (min-device-width: 1025px) {
		padding-right: 12px;
	} */
}
