:root {

	--button-border-width: 6px;

	--ui-border-width: 2px;
	--ui-border-style: solid;

	--page-image-height: 0px;

/* 	--copywriting-max-width: none;

	@media ) {
		--copywriting-max-width: var(--column-span-4);
	}

	@media (--from-breakpoint-5) {
		--copywriting-max-width: var(--column-span-8);
	}

	@media (--from-breakpoint-7) {
		--copywriting-max-width: var(--column-span-7);
	} */
}
