/**
 * Spacing
 *
 * Site width, columns and gutters. Also vertical rhythm.
 *
 * - Mobile first
 * - we start with one column and increase it throughout the breakpoints.
 * - The last breakpoint has fixed sizes so we can box the layout
 *
 * For the breakpoint timings: see settings/media-queries.css.
 */
:root {
	--space-1: 0.25rem;
	--space-2: 0.5rem;
	--space-3: 1rem;
	--space-4: 1.25rem;
	--space-5: 1.5rem;
	--space-6: 1.75rem;
	--space-8: 2rem;
	--space-12: 3rem;
	--space-16: 4rem;
	--space-20: 5rem;

	--column-span-1: var(--column);
	--column-span-2: calc(var(--column) * 2 + var(--gutter) * 1);
	--column-span-3: calc(var(--column) * 3 + var(--gutter) * 2);
	--column-span-4: calc(var(--column) * 4 + var(--gutter) * 3);
	--column-span-5: calc(var(--column) * 5 + var(--gutter) * 4);
	--column-span-6: calc(var(--column) * 6 + var(--gutter) * 5);
	--column-span-7: calc(var(--column) * 7 + var(--gutter) * 6);
	--column-span-8: calc(var(--column) * 8 + var(--gutter) * 7);
	--column-span-9: calc(var(--column) * 9 + var(--gutter) * 8);
	--column-span-10: calc(var(--column) * 10 + var(--gutter) * 9);
	--column-span-11: calc(var(--column) * 11 + var(--gutter) * 10);
	--column-span-12: calc(var(--column) * 12 + var(--gutter) * 11);

	--site--width:   88vw;
	--site--padding: 6vw;

	/* One column */
	--column: 88vw;
	--gutter: 0vw;

	/* Column & gutter shortcuts */
	--column-span-1: var(--column);
	--column-span-2: calc(var(--column) * 2 + var(--gutter) * 1);
	--column-span-3: calc(var(--column) * 3 + var(--gutter) * 2);
	--column-span-4: calc(var(--column) * 4 + var(--gutter) * 3);
	--column-span-5: calc(var(--column) * 5 + var(--gutter) * 4);
	--column-span-6: calc(var(--column) * 6 + var(--gutter) * 5);
	--column-span-7: calc(var(--column) * 7 + var(--gutter) * 6);
	--column-span-8: calc(var(--column) * 8 + var(--gutter) * 7);
	--column-span-9: calc(var(--column) * 9 + var(--gutter) * 8);
	--column-span-10: calc(var(--column) * 10 + var(--gutter) * 9);
	--column-span-11: calc(var(--column) * 11 + var(--gutter) * 10);
	--column-span-12: calc(var(--column) * 12 + var(--gutter) * 11);

	--column-gutter-1: calc(var(--column) * 1 + var(--gutter) * 1);
	--column-gutter-2: calc(var(--column) * 2 + var(--gutter) * 2);
	--column-gutter-3: calc(var(--column) * 3 + var(--gutter) * 3);
	--column-gutter-4: calc(var(--column) * 4 + var(--gutter) * 4);
	--column-gutter-5: calc(var(--column) * 5 + var(--gutter) * 5);
	--column-gutter-6: calc(var(--column) * 6 + var(--gutter) * 6);
	--column-gutter-7: calc(var(--column) * 7 + var(--gutter) * 7);
	--column-gutter-8: calc(var(--column) * 8 + var(--gutter) * 8);
	--column-gutter-9: calc(var(--column) * 9 + var(--gutter) * 9);
	--column-gutter-10: calc(var(--column) * 10 + var(--gutter) * 10);
	--column-gutter-11: calc(var(--column) * 11 + var(--gutter) * 11);
	--column-gutter-12: calc(var(--column) * 12 + var(--gutter) * 12);

    @media (--from-breakpoint-1) {

    	/* Two columns */
    	--column:        41vw;
		--gutter:        6vw;
    }

    @media (--from-breakpoint-3) {

		--site--width:   85vw;
		--site--padding: 7.5vw;

    	/* Six columns */
		--column:        10vw;
		--gutter:        5vw;
    }


	@media (--from-breakpoint-5) {

    	/* Twelve columns */
		--column:        2.5vw;
		--gutter:        5vw;
    }

    @media (--from-breakpoint-6) {

    	/* Fixed sizes */
		--site--width:   1380px;
		--site--padding: 90px;

    	--column: 71px; /* 60 71 82 */
		--gutter: 48px; /* 60 48 36 */
    }
}

/* :root {
	--column        : 85vw;
	--gutter        : 0vw;
	--column-gutter : 85vw;

	--column-span-1: var(--column);

	--site--width         : 85vw;
	--site--padding       : 0vw;
	--page--width         : var(--site--width);
	--page-content--width : var(--site--width);

	--row: 8px; 

	@media (--from-breakpoint-1) {
		--column        : 40vw;
		--gutter        : 6vw;
		--column-gutter : 46vw;

		--column-span-1: var(--column);
		--column-span-2: calc(var(--column) * 2 + var(--gutter) * 1);

		--site--width   : 86vw;
    }

    @media (--from-breakpoint-2) {
		--column        : 17.5vw;
		--gutter        : 5vw;
		--column-gutter : 22.5vw;

		--column-span-1: var(--column);
		--column-span-2: calc(var(--column) * 2 + var(--gutter) * 1);
		--column-span-3: calc(var(--column) * 3 + var(--gutter) * 2);
		--column-span-4: calc(var(--column) * 4 + var(--gutter) * 3);

		--site--width   : 85vw;
    }

    @media (--from-breakpoint-3) {
		--column        : 6.5vw;
		--gutter        : 5vw;
		--column-gutter : 11.5vw;

		--row: 12px;

		--column-span-1: var(--column);
		--column-span-2: calc(var(--column) * 2 + var(--gutter) * 1);
		--column-span-3: calc(var(--column) * 3 + var(--gutter) * 2);
		--column-span-4: calc(var(--column) * 4 + var(--gutter) * 3);
		--column-span-5: calc(var(--column) * 5 + var(--gutter) * 4);
		--column-span-6: calc(var(--column) * 6 + var(--gutter) * 5);
		--column-span-7: calc(var(--column) * 7 + var(--gutter) * 6);
		--column-span-8: calc(var(--column) * 8 + var(--gutter) * 7);

		--site--width         : 87vw;
		--page-content--width : var(--column-span-6);
    }

    @media (--from-breakpoint-4) {
		--row: 12px;

		--page-content--width : var(--column-span-5);
    }

	@media (--from-breakpoint-5) {
		--column        : 98px;
		--gutter        : 56px;
		--column-gutter : 154px;

		--site--width   : 1176px;
		--site--padding : 56px;
    }

    @media (--from-breakpoint-6) {
    	--column        : 120px;
		--gutter        : 60px;
		--column-gutter : 180px;

		--row: 16px;

		--site--padding : 90px;
		--site--width   : 1380px;

		--page-content--width : var(--column-span-5);
    }
} */
