/**
 * Typography
 *
 * Define rem-size, font-sizes, line-heights and font-families.
 *
 * - Mobile first: we change the font-size going up the breakpoints.
 * - Rem-size also impacts the spacing (see settings/spacing.css)
 * - Use values with units as much as you can because of performance impact calculating the unit
 */
:root {

	/* Root unit size */
	--rem-size: 100%; /* 16 */

	/* Typography */
	--font-family: unit-rounded, sans-serif;

	/* Font Sizes */
	--font-size--extra-small: 0.825rem;
	--font-size--small: 0.875rem;
	--font-size--normal: 1rem;
	--font-size--large: 1.25rem;
	--font-size--extra-large: 1.5rem;
	--font-size--huge: 2rem;
	--font-size--gigantic: 2.5rem;

	/* Line heights */
	--line-height--extra-small: 1;
	--line-height--small: 1.2;
	--line-height--normal: 1.333;
	--line-height--large: 1.5;

	/* Extra */
	--copywriting-max-width: 32rem;

	/* Breakpoints */
	@media (--from-breakpoint-1) {
		--rem-size: 112.5%; /* 18 */

		--font-size--extra-small: 0.777778rem; /* 14 */
		--font-size--small: 0.833334rem; /* 15 */
	}

	@media (--from-breakpoint-2) {
		--rem-size: 112.5%;
	}

	@media (--from-breakpoint-3) {
		--rem-size: 118.75%;
	}

	@media (--from-breakpoint-4) {
		--rem-size: 125%;
	}

	@media (--from-breakpoint-5) {
	}

	@media (--from-breakpoint-6) {
		--rem-size: 150%; /* 24 */
		--font-size--extra-small: 0.6667rem;
		--font-size--small: 0.75rem;
		--line-height--normal: 1.4;
	}
}
