/**
 * Component: Call to action
 */

.call-to-action {
	@include margin-collapse-fix;
	@include is-page-content--full-screen-with-background;

	margin-top: $space-20;
	margin-bottom: $space-20;
	
	@include has-page-content;
 	text-align: center;

 	

	&__inner {
		@include has-page-content;
		@include is-page-segment;
		margin-top: $space-20;
		margin-bottom: $space-20;
		text-align: center;

		> * {
			margin-left: auto;
		}
	}
}
