.entry-navigation {
	margin-top: var(--wp--custom--space--8);
	margin-bottom: var(--wp--custom--space--8);

	a {}

	&__links {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: var(--wp--custom--grid--gutter);
		row-gap: var(--wp--custom--space--4);

		@media (--from-breakpoint-2) {
			grid-template-columns: 1fr 1fr;
		}
	}

	&__link-label {
		@include label;
		margin-bottom: var(--wp--custom--space--2);
	}

	&__link {

		&--previous {

		}

		&--next {

		}
	}

	@media (--from-breakpoint-2) {
		&__next {
			text-align: right;
		}
	}
}
