.site-header {
	position: relative;
	z-index: 99;
	margin-top: var(--wp--custom--space--12);
	margin-bottom: var(--wp--custom--space--12);
	@mixin is-page-segment;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	position: relative;


	.site-branding {
		width: 135px;
	}

	.site-nav-toggle {
		z-index: 99;
		position: absolute;
		right: 0;

		&__label {
			display: none;
		}

		@media (--from-breakpoint-2) {
			&__label {
				display: block;
			}
		}
	}

	/** Media Queries */
	@media (--from-breakpoint-2) {
		.site-branding {
			width: 160px;
		}
	}

	@media (--from-breakpoint-3) {
		.site-branding {
			width: 180px;
		}
	}

	@media (--from-breakpoint-4) {
		.site-branding {
			width: 200px;
		}
	}

	@media (--from-breakpoint-5) {
		.site-branding {
			width: 240px;
		}
	}

	@media (--from-breakpoint-5) {
		@mixin is-page-segment--full-site;
		/* margin-top: var(--wp--custom--space--12); */
		margin-bottom: calc(var(--wp--custom--space--20) + var(--wp--custom--space--4));
	}

	@media (--from-breakpoint-6) {
		margin-top: var(--wp--custom--space--12);
		margin-bottom: calc(var(--wp--custom--space--20));
	}

 	/** Additional and modifying classes */
}

.has-expanded-site-nav .site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	/* right: var(--wp--custom--grid--gutter); */

	.site-branding {
		--foreground-color: var(--wp--preset--color--primary-1);
		color: var(--foreground-color);
		z-index: 1;
		/* z-index: -1; */

		path {
			stroke: currentColor;
		}
	}

	.site-nav-toggle {
		--foreground-color: var(--wp--preset--color--primary-1);
		color: var(--foreground-color);

		/* position: fixed;
		top: var(--wp--custom--space--8);
		right: var(--wp--custom--grid--gutter); */
	}
}
