/**
 * Structure: Site Footer
 */

.site-footer {
	margin-top: $space-20;
	margin-bottom: $space-20;

	&__inner {
		@include is-page-segment;
	}

	&__title {
		font-size: var(--wp--preset--font-size--large);
		margin-bottom: $space-12;
	}

	&__content {
		display: grid;
		column-gap: var(--grid--gutter);
		row-gap: $space-8;
		grid-template-columns: 1fr;

		> * {
			margin-bottom: 0;
			width: 100%;
		}
	}

	.contact-info {
		display: grid;
		column-gap: var(--grid--gutter);
		row-gap: $space-8;
		grid-template-columns: 1fr;
		margin-bottom: $space-8;

		> * {
			margin-bottom: 0;
			width: 100%;
		}

		[href^="tel:"] {
			@include reset-link;
		}
	}

	.social-media {
		display: flex;
		align-items: flex-start;

		a {
			@include reset-link;
			margin-right: 1em;
		}

		img {
			display: block;
			max-height: 1.5em;
			margin-bottom: 0;
		}
	}

	.documents {
		margin-bottom: $space-2;
		> *:last-child {
			margin-bottom: 0;
		}
	}

	.colophon {
		font-size: var(--wp--preset--font-size--small);

		> *:last-child {
			margin-bottom: 0;
		}
	}

	@media (--grid-columns-2) {
		&__content {
			grid-template-columns: 1fr 1fr;
			row-gap: $space-16;
		}

		.contact-info {
			grid-column: span 2;
			grid-template-columns: 1fr 1fr;
			row-gap: $space-10;
		}

		.colophon {
			grid-column: span 2;
		}
	}

	@media (--from-breakpoint-4) {
		&__content {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		.contact-info {
			grid-column: span 4;
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}
}

