textarea {
	/* Removes empty space under textarea. */
	display: block;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	background-color: transparent;
	border: var(--ui-border-width) var(--ui-border-style) var(--foreground-color);
	border-radius: 0;
	font-size: var(--font-size--sm);
	padding: calc(var(--row) * 1) calc(var(--row) * 1);
	width: 100%;
	transition: border-color var(--transition-fast);

	&::placeholder {
		color: var(--ui-color);
		font-style: italic;
	}

	&:focus {
		/* Use transparent outline for Windows high contrast mode. */
		outline: 2px solid transparent;
	}

	&:hover,
	&:focus {
		border-color: var(--ui-color);
	}
}

label {
	display: block;
	/* font-weight: bold; */
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: calc(var(--row) * 0.5);
	/* font-weight: normal; */
	line-height: var(--line-height--sm);

	& + label {
		display: inline;
		font-size: var(--font-size--sm);
		line-height: var(--line-height--sm);
		/* font-weight: normal; */
	}
}
