/* Reverse order so that the * wildcard specifity is in the right order... Usecase? */

h6,
h5,
h4,
h3,
h2,
h1 {
	line-height: var(--line-height--xs);
	font-weight: bold;
	font-style: normal;
	overflow-wrap: break-word;
	text-transform: uppercase;
}

h6,
h5,
h4,
.is-h4,
h3,
.is-h3 {
	font-size: var(--font-size--h3);
	margin-top: calc(var(--row) * 4);
	margin-bottom: calc(var(--row) * 1);
}

h2,
.is-h2 {
	font-size: var(--font-size--h2);
	margin-top: calc(var(--row) * 4);
	margin-bottom: calc(var(--row) * 3);
}


h1,
.is-h1 {
	font-size: var(--font-size--h1);
	margin-top: calc(var(--row) * 6);
	margin-bottom: calc(var(--row) * 4);
}
