/* Mixins are predefined css, usable anywhere in the stylesheets */

/* ===============
 * Links
 * =============== */
@define-mixin link {
	color: inherit;
	text-decoration: underline;
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.1em;

	&:hover,
    &:active {
        @mixin link-active;
    }
}

@define-mixin link-active {
	outline: 0;
	text-decoration-style: dotted;
}

@define-mixin link-active-2 {
	text-decoration: underline;
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.1em;
}

@define-mixin reset-link {
    color: inherit;
    text-decoration: none;
}

/* ===============
 * Buttons
 * =============== */

@define-mixin button {
    @mixin reset-link;

	font-weight: bold;
	line-height: var(--wp--custom--line-height--small);
    /* font-size: var(--wp--preset--font-size--small);
    text-transform: uppercase; */
    display: inline-block;
    cursor: pointer;

	border: var(--ui-border-width) var(--ui-border-style) var(--foreground-color);
    padding: var(--wp--custom--space--1);

	transition: border-color var(--transition-fast);

	position: relative;

    &:hover,
    &:focus,
    &:active {
    	text-decoration: underline;
    	text-decoration-thickness: var(--ui-border-width);
    }
}

@define-mixin reset-button {
	background-color: transparent;
	border: none;
	color: inherit;
    font-size: inherit;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;

    &:hover,
    &:focus,
    &:active {
    	text-decoration: none;
    }
}

/* ===============
 * Other
 * =============== */

@define-mixin reset-list {
    padding-left: 0;
    list-style-type: none;
}

@define-mixin svg {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	position: relative;
	top: -0.0625em;
	vertical-align: middle;
	width: 1em;
}

@define-mixin reset-svg {
	height: auto;
	top: auto;
	vertical-align: baseline;
	width: auto;
}

@define-mixin global-transition {
    transition: all var(--transition-duration-1) ease-in-out;
}

@define-mixin hr-styles {

}
