/* Mixins are predefined css, usable anywhere in the stylesheets */

/* ===============
 * Helpers
 * =============== */

/* ===============
 * Structure
 * =============== */
/* 
@define-mixin site--padding {
	padding-left: var(--site--padding);
	padding-right: var(--site--padding);
}

@define-mixin container--page {
	margin-left: auto;
    margin-right: auto;
	width: var(--page--width);
}

@define-mixin container--page--full-site {
	margin-left: calc(50% - 50vw + var(--site--padding));
	margin-right: calc(50% - 50vw + var(--site--padding));
	width: auto;
}

@define-mixin container--page-content {
	margin-left: auto;
	margin-right: auto;
	width: var(--page-content--width);

	@media (--from-breakpoint-3) {
		margin-left: calc(var(--column-gutter) * 1);
	}
}

@define-mixin container--page-content--full-page {
	@media (--grid-columns-8) {
		margin-left: calc(var(--column-gutter) * -1);
		margin-right: calc(var(--column-gutter) * -1);
		width: var(--page--width);
	}

	@media (--from-breakpoint-4) {
		margin-right: calc(var(--column-gutter) * -2);
	}
}

@define-mixin container--page-content--full-site {
	margin-left: calc(50% - 50vw + var(--site--padding));
	margin-right: calc(50% - 50vw + var(--site--padding));
	width: auto;

	@media (--from-breakpoint-4) {
		margin-left: calc(50% - 50vw + (var(--column-gutter) / 2) + var(--site--padding));
		margin-right: calc(50% - 50vw - (var(--column-gutter) / 2) + var(--site--padding));
	}
}

@define-mixin container--page-content--right {

	@media (--from-breakpoint-1) {
		float: right;
		margin-bottom: calc(var(--row) * 3);
		margin-left: var(--gutter);
		max-width: var(--column-span-1);
	}

	@media (--grid-columns-4) {
		max-width: var(--column-span-2);
	}

	@media (--grid-columns-8) {
		margin-right: calc(var(--column-gutter) * -1);
		max-width: var(--column-span-3);
	}
}

@define-mixin container--page-content--left {

	@media (--from-breakpoint-1) {
		float: left;
		margin-bottom: calc(var(--row) * 3);
		margin-right: var(--gutter);
		max-width: var(--column-span-1);
	}

	@media (--grid-columns-4) {
		max-width: var(--column-span-2);
	}

	@media (--grid-columns-8) {
		max-width: var(--column-span-3);
	}
} */

/* Collapse vertical margin */
/* @define-mixin margin-collapse-fix {
    overflow-y: hidden;
} */

/* Vertical spacing */
/* @define-mixin vertical-spacing {
    margin-bottom: calc(var(--row) * 3);
} */

/* @define-mixin full-page-content-overflow-fix {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}
 */
/** Editor structure helpers */
/* @define-mixin editor-page-content--full-site {
	margin-left: -5vw;
	margin-right: -5vw;

	@media (--from-breakpoint-3) {
		margin-left: calc(var(--gutter) * -1);
		margin-right: calc(var(--gutter) * -1);
	}
} */


/* ===============
 * Typography
 * =============== */
@define-mixin reset-typography {
	font-size: var(--font-size--md);
	line-height: var(--font-1-line-height);
	font-weight: 400;
	font-style: normal;
}

@define-mixin label {
	font-size: var(--font-size--label);
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

@define-mixin segment-title {
	font-size: var(--font-size--lg);
	margin-top: calc(var(--row) * 6);
	margin-bottom: calc(var(--row) * 4);
}


/* ===============
 * Links
 * =============== */
@define-mixin link {
	color: inherit;
	text-decoration: underline;
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.2em;

	&:hover,
    &:active {
        @mixin link-active;
    }
}

@define-mixin link-active {
	outline: 0;
	text-decoration-style: dotted;
}

@define-mixin link-active-2 {
	text-decoration: underline;
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.2em;
}

@define-mixin reset-link {
    color: inherit;
    text-decoration: none;
}

/* ===============
 * Buttons
 * =============== */

@define-mixin button {
    @mixin reset-link;

	font-weight: bold;
	line-height: var(--line-height--sm);
    /* font-size: var(--font-size--sm);
    text-transform: uppercase; */
    display: inline-block;
    cursor: pointer;

	border: var(--ui-border-width) var(--ui-border-style) var(--foreground-color);
    padding: calc(var(--row) * 1);

	transition: border-color var(--transition-fast);

	position: relative;

    &:hover,
    &:focus,
    &:active {
    	text-decoration: underline;
    	text-decoration-thickness: var(--ui-border-width);
    }
}

@define-mixin reset-button {
	background-color: transparent;
	border: none;
	color: inherit;
    font-size: inherit;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;

    &:hover,
    &:focus,
    &:active {
    	text-decoration: none;
    }
}

/* ===============
 * Other
 * =============== */

@define-mixin reset-list {
    padding-left: 0;
    list-style-type: none;
}

@define-mixin svg {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	position: relative;
	top: -0.0625em;
	vertical-align: middle;
	width: 1em;
}

@define-mixin reset-svg {
	height: auto;
	top: auto;
	vertical-align: baseline;
	width: auto;
}

@define-mixin global-transition {
    transition: all var(--transition-duration-1) ease-in-out;
}

@define-mixin hr-styles {

}

/* Grid fallback for IE11 */
@define-mixin ie11-grid-set-columns $columns {
	/* IE11: Grid fallback */
	column-count: $(columns);
}

/* Grid fallback for IE11 */
@define-mixin ie11-grid-fallback $columns {

	@mixin ie11-grid-set-columns $(columns);

	> * {
		/* IE11: Grid fallback */
		break-inside: avoid-column;
	}
}

/** IE11 target: _:-ms-fullscreen, :root .ie11up */

/* ===============
 * Development
 * =============== */

@define-mixin dev--background-grid {
	background: var(--foreground-color);

	@media (--grid-columns-2) {
		background: linear-gradient(90deg,
			var(--foreground-color) calc(var(--column) * 1),
			transparent calc(var(--column) * 1),
			transparent calc(var(--column-gutter) * 1),
			var(--foreground-color) calc(var(--column-gutter) * 1)
		);
	}

	@media (--grid-columns-4) {
		background: linear-gradient(90deg,
			var(--foreground-color) calc(var(--column) * 1),
			transparent calc(var(--column) * 1),
			transparent calc(var(--column-gutter) * 1),
			var(--foreground-color) calc(var(--column-gutter) * 1),
			var(--foreground-color) calc(var(--column-gutter) * 1 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 1 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 2),
			var(--foreground-color) calc(var(--column-gutter) * 2),
			var(--foreground-color) calc(var(--column-gutter) * 2 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 2 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 3),
			var(--foreground-color) calc(var(--column-gutter) * 3)
		);
	}

	@media (--grid-columns-8) {
		background: linear-gradient(90deg,
			var(--foreground-color) calc(var(--column) * 1),
			transparent calc(var(--column) * 1),
			transparent calc(var(--column-gutter) * 1),
			var(--foreground-color) calc(var(--column-gutter) * 1),
			var(--foreground-color) calc(var(--column-gutter) * 1 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 1 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 2),
			var(--foreground-color) calc(var(--column-gutter) * 2),
			var(--foreground-color) calc(var(--column-gutter) * 2 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 2 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 3),
			var(--foreground-color) calc(var(--column-gutter) * 3),
			var(--foreground-color) calc(var(--column-gutter) * 3 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 3 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 4),
			var(--foreground-color) calc(var(--column-gutter) * 4),
			var(--foreground-color) calc(var(--column-gutter) * 4 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 4 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 5),
			var(--foreground-color) calc(var(--column-gutter) * 5),
			var(--foreground-color) calc(var(--column-gutter) * 5 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 5 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 6),
			var(--foreground-color) calc(var(--column-gutter) * 6),
			var(--foreground-color) calc(var(--column-gutter) * 6 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 6 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 7),
			var(--foreground-color) calc(var(--column-gutter) * 7),
			var(--foreground-color) calc(var(--column-gutter) * 7 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 7 + var(--column) * 1),
			transparent calc(var(--column-gutter) * 8),
			var(--foreground-color) calc(var(--column-gutter) * 8)
		);
	}
}

@define-mixin dev--background-grid-parent {
	position: relative;
	z-index: 1;
}

@define-mixin dev--background-grid-child {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: var(--site--width);
	z-index: -1;
	opacity: 0.025;

	@mixin dev--background-grid;
}

@define-mixin dev--media-query-info-in-pseudo-element {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 0.4em;

	font-size: var(--font-size--sm);
	line-height: var(--line-height--xs);
	content: 'bp - [mini]';
	opacity: 0.75;
	background-color: var(--background-color);
	color: var(--foreground-color);

	@media (--from-breakpoint-1) { content: 'bp 1: 360px [klein]'; }
	@media (--from-breakpoint-2) { content: 'bp 2: 600px [klein]'; }
	@media (--from-breakpoint-3) { content: 'bp 3: 840px [middel]'; }
	@media (--from-breakpoint-4) { content: 'bp 4: 1080px [middel]'; }
	@media (--from-breakpoint-5) { content: 'bp 5: 1400px [groot]'; }
	@media (--from-breakpoint-6) { content: 'bp 6: 1720px [groot]'; }
}
