/* Mixins: Structure */
/* Mixins are predefined css, usable anywhere in the stylesheets */

/* ---- */
@define-mixin is-page-segment {
	margin-left: auto;
    margin-right: auto;
	max-width: var(--site--width);
	width: 100%;
}

@define-mixin is-page-segment--full-site {
	margin-left: var(--site--padding);
    margin-right: var(--site--padding);
	max-width: none;
	width: auto;
}

@define-mixin is-page-segment--full-screen {
	margin-left: 0;
    margin-right: 0;
	max-width: none;
	width: auto;
}

@define-mixin is-page-content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@mixin is-page-content--normal;
}

@define-mixin is-page-content--normal {
	@media (--grid-columns-6) {
		max-width: var(--column-span-4);
	}

	@media (--grid-columns-12) {
		margin-left: var(--column-gutter-2);
		max-width: var(--column-span-8);
	}

	@media (--from-breakpoint-7) {
		max-width: var(--column-span-7);
	}
}

@define-mixin is-page-content--full-page {
	max-width: none;
	margin-top: var(--space-8);
	margin-bottom: var(--space-8);

	@media (--grid-columns-6) {
		margin-left: 0;
		margin-right: 0;
		margin-top: var(--space-12);
		margin-bottom: var(--space-12);
	}
}

@define-mixin is-page-content--full-site {
	max-width: none;
	margin-top: var(--space-8);
	margin-bottom: var(--space-8);

	@media (--grid-columns-6) {
		margin-top: var(--space-12);
		margin-bottom: var(--space-12);
	}

	@mixin is-page-content--full-screen;
}

@define-mixin is-page-content--full-screen-with-background {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: none;
	width: auto;

	@media (--from-breakpoint-3) {
		margin-left: calc(50% - 50vw + var(--site--padding));
		margin-right: calc(50% - 50vw + var(--site--padding));
	}
}

@define-mixin is-page-content--full-screen {
	margin-left: calc(50% - 50vw + var(--site--padding));
	margin-right: calc(50% - 50vw + var(--site--padding));
	max-width: none;
	width: auto;
}

@define-mixin is-page-content--right {
	float: right;
	margin-left: var(--gutter);

	@media (--grid-columns-6) {
		max-width: var(--column-span-2);
	}

	@media (--grid-columns-12) {
		max-width: var(--column-span-3);
	}
}

@define-mixin is-page-content--left {
	float: left;
	margin-right: var(--gutter);

	@media (--from-breakpoint-5) {
		max-width: var(--column-span-4);
	}
}

@define-mixin is-full-width {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: none;
	width: auto;
}

@define-mixin reset-page-segment {
	max-width: none;
	padding-left: 0;
	padding-right: 0;
}

@define-mixin has-page-content {
	@mixin clearfix;
	@mixin remove-first-last-child-margin;

	> * {
		@mixin is-page-content;
	}
}

@define-mixin reset-page-content {
	margin-left: auto;
	margin-right: auto;
	max-width: none;
}

/* ---- */

@define-mixin remove-first-last-child-margin {
	> *:first-child { margin-top: 0; }
	> *:last-child { margin-bottom: 0; }
}

/* Collapse vertical margin */
@define-mixin margin-collapse-fix {
    overflow-y: hidden;
}

/* Clearfix for floating */
@define-mixin clearfix {
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}

@define-mixin full-page-content-overflow-fix {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

/** Editor structure helpers */

@define-mixin is-page-content--editor {
	max-width: none;
}

/* Fix fullscreen in editor */
@define-mixin editor--is-full-width {
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

@define-mixin is-page-content--full-screen-editor-fix {
	max-width: none;
	width: auto;
	margin-left: 0;
	margin-right: 0;

	@media (--from-breakpoint-6) {
		margin-left: -5vw;
		margin-right: -5vw;
	}

	@media (--from-breakpoint-7) {
		margin-left: -7vw;
		margin-right: -7vw;
	}
}

@define-mixin editor--is-container {
	box-shadow: inset 0 0 0 1px var(--editor-container--ui-color);
}

@define-mixin editor--inner-blocks {
	& > .block-editor-inner-blocks > .block-editor-block-list__layout {
		@mixin-content;
	}
}
