/**
 * Settings: Grid
 */

///
/// Responsive Grid
///
/// Site width and padding. Grid columns and gutters.
///

body {

	--grid--column-span--1: var(--grid--column);
	--grid--column-span--2: calc(var(--grid--column) * 2  + var(--grid--gutter) * 1);
	--grid--column-span--3: calc(var(--grid--column) * 3  + var(--grid--gutter) * 2);
	--grid--column-span--4: calc(var(--grid--column) * 4  + var(--grid--gutter) * 3);
	--grid--column-span--5: calc(var(--grid--column) * 5  + var(--grid--gutter) * 4);
	--grid--column-span--6: calc(var(--grid--column) * 6  + var(--grid--gutter) * 5);
	--grid--column-span--7: calc(var(--grid--column) * 7  + var(--grid--gutter) * 6);
	--grid--column-span--8: calc(var(--grid--column) * 8  + var(--grid--gutter) * 7);
	--grid--column-span--9: calc(var(--grid--column) * 9  + var(--grid--gutter) * 8);
	--grid--column-span--10: calc(var(--grid--column) * 10 + var(--grid--gutter) * 9);
	--grid--column-span--11: calc(var(--grid--column) * 11 + var(--grid--gutter) * 10);
	--grid--column-span--12: calc(var(--grid--column) * 12 + var(--grid--gutter) * 11);

	// 1 column
	--site--width:   88vw;
	--site--padding: 6vw;
	--grid--column:  88vw;
	--grid--gutter:  0vw;

    @media (--from-breakpoint-1) {

    	// 2 columns
    	--grid--column: 41vw;
		--grid--gutter: 6vw;
    }

    @media (--from-breakpoint-2) {}

    @media (--from-breakpoint-3) {

    	// 6 columns
		--site--width:   85vw;
		--site--padding: 7.5vw;
		--grid--column:  10vw;
		--grid--gutter:  5vw;
    }

    @media (--from-breakpoint-4) {}

	@media (--from-breakpoint-5) {

    	// 12 columns
		--site--width:   1080px;
		--site--padding: 60px;
    	--grid--column:  35px; 
		--grid--gutter:  60px; 
    }

    @media (--from-breakpoint-6) {

		--site--width:   1200px;
		--site--padding: 60px;
    	--grid--column:  45px; 
		--grid--gutter:  60px;

    }

    @media (--from-breakpoint-7) {

    	--site--width:   1320px;
		--site--padding: 90px;
    	--grid--column:  55px; 
		--grid--gutter:  60px; 
    }
}
