/**
 * Responsive typography
 *
 * Rem-size, font-size and line-height
 *
 * - Rem-size also impacts the spacing (see settings/spacing.css)
 * - Use values with units as much as you can because of performance impact calculating the unit
 */

:root {

	--wp--custom--rem-size: 100%;

	/* Default values are defined in theme.json */

	@media (--from-breakpoint-1) {

		/* Rem: 18 */
		--wp--custom--rem-size: 112.5%; 
		--wp--preset--font-size--extra-small: 0.777778rem; /* 14 */
		--wp--preset--font-size--small: 0.8889rem; /* 16 */
	}

	@media (--from-breakpoint-2) {}

	@media (--from-breakpoint-3) {

		/* Rem: 19 */
		--wp--custom--rem-size: 118.75%;
	}

	@media (--from-breakpoint-4) {

		/* Rem: 20 */
		--wp--custom--rem-size: 125%;
	}

	@media (--from-breakpoint-5) {}

	@media (--from-breakpoint-6) {

		/* Rem: 24 */
		--wp--custom--rem-size: 150%;		
		--wp--preset--font-size--extra-small: 0.75rem;
		--wp--preset--font-size--small: 0.875rem;
		
		--wp--custom--line-height--normal: 1.4;
	}
}
