.site {
	@mixin margin-collapse-fix;
	@mixin full-page-content-overflow-fix;
	clear: both;
	min-height: 100vh;

	background-color: var(--wp--preset--color--cornsilk);
	color: 			  var(--wp--preset--color--black);
}

.has-expanded-site-nav .site {
	/**
	 * Prevent scrolling
	 */
	overflow-y: hidden;
  	overscroll-behavior: contain;
  	height: 100vh;

/* 	@media (min-device-width: 1025px) {
		padding-right: 12px;
	} */
}

.has-page-image:not(.is-singular--page) .site {
	margin-top: var(--page-image-height);
}

.has-grid .site {

	&:after {
		content: '';
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin-left: auto;
		margin-right: auto;
		width: var(--wp--custom--site--width);
		opacity: 0.1;
		z-index: 99;

		@mixin dev--background-grid;
	}
}