/**
 * Utilities: Helpers
 */

.has-text-align-left {
	text-align: left;
}

.has-text-align-right {
	text-align: right;
}

.has-text-align-center {
	text-align: center;
}

/* Parallax */
.has-parallax {
	background-attachment: fixed;
}

/* Position: Top */
.is-position-top-left {
	align-items: flex-start;
	justify-content: flex-start;
}
.is-position-top-center {
	align-items: flex-start;
	justify-content: center;
}
.is-position-top-right {
	align-items: flex-start;
	justify-content: flex-end;
}

/* Position: Center */
.is-position-center-left {
	align-items: center;
	justify-content: flex-start;
}
.is-position-center-center {
	align-items: center;
	justify-content: center;
}
.is-position-center-right {
	align-items: center;
	justify-content: flex-end;
}

/* Position: Bottom */
.is-position-bottom-left {
	align-items: flex-end;
	justify-content: flex-start;
}
.is-position-bottom-center {
	align-items: flex-end;
	justify-content: center;
}
.is-position-bottom-right {
	align-items: flex-end;
	justify-content: flex-end;
}

/* Background dimming */
.has-background-dim {
	background-color: transparent;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		content: '';
		background-color: var(--background-color);
		opacity: .5;
	}

}

.has-background-dim-10:before { opacity: .1; }
.has-background-dim-20:before { opacity: .2; }
.has-background-dim-30:before { opacity: .3; }
.has-background-dim-40:before { opacity: .4; }
.has-background-dim-50:before { opacity: .5; }
.has-background-dim-60:before { opacity: .6; }
.has-background-dim-70:before { opacity: .7; }
.has-background-dim-80:before { opacity: .8; }
.has-background-dim-90:before { opacity: .9; }
.has-background-dim-100:before { opacity: 1; }


ul.is-style-no-bullets,
ol.is-style-no-bullets {
	list-style-type: none;
	padding-left: 0;
}

body.has-page-image {
	--misc--page-image-height: 50vh;

	&.is-singular--wbl_project {
		--misc--page-image-height: 80vh;
	}

	&.has-expanded-site-nav {
		--misc--page-image-height: 0px;
	}
}
