/**
 * Generic reset
 *
 * This resets opinionated browser styles.
 */

/**
 * 1. Default spacing and borders
 *
 * 2. Allow flexbox-containers to shrink below its min-content
 *    Thus allowing flexboxcontainers to shrink smaller than child-image
 *    - https://teamtreehouse.com/community/firefox-flexbox-not-working
 *    - http://stackoverflow.com/questions/28710379/firefox-flexbox-image-width
 */
* {
    margin: 0;  /* 1 */
    padding: 0; /* 1 */
    border: 0;  /* 1 */

    min-width: 0;  /* 2 */
    min-height: 0; /* 2 */
}

/* Box sizing */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*
*:focus,
*:active {
    outline: none;
}
*/

/* Inputs and textareas don’t inherit certain properties by default */
input,
select,
option,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

/* HTML5 for IE11 Support */
article, aside, summary, details, figcaption, figure,
footer, header, main, nav, section {
    display: block;
}

/**
 * HTML5 extra
 *
 * If something is marked hidden, it is hidden from all presentations,
 * including, for instance, screen readers.
 *
 * CSS's `display: none` will be dependent on a given presentation
 */
[hidden] {
    display: none;
}

/**
 * Firefox placeholder reset
 *
 * By default, all placeholders in Firefox have an opacity value
 * applied to them, so in order to fix this we need to reset that value
 */
::-moz-placeholder {
  opacity: 1;
}
