.call-to-action {
	@mixin margin-collapse-fix;
	@mixin is-page-content--full-screen-with-background;
	--background-color: var(--wp--preset--color--secondary-1);
	--foreground-color: var(--wp--preset--color--primary-1);
	background-color: var(--background-color);
	color: var(--foreground-color);
	margin-top: var(--space-12);
	margin-bottom: var(--space-12);


	&__inner {
		@mixin is-page-segment;
		@mixin has-page-content;
		margin-top: var(--space-12);
		margin-bottom: var(--space-12);
		text-align: center;

		> * {
			margin-left: auto;
		}
	}
}
