.loop--blog {
	@mixin is-page-content--full-page;
	margin-bottom: var(--space-12);
	margin-top: var(--space-12);

	display: grid;
	column-gap: var(--gutter);
	row-gap: var(--space-12);
	grid-template-columns: 1fr;

	@media (--from-breakpoint-2) {
		grid-template-columns: 1fr 1fr;
	}

	@media (--from-breakpoint-4) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@media (--from-breakpoint-5) {
		grid-template-columns: 1fr;
	}
}

.loop--blog .entry {

	&__title {
		font-size: var(--font-size--large);
		margin-bottom: var(--space-4);
		margin-top: 0;
	}

	p {
		margin-bottom: var(--space-4);
	}

	img {
		display: block;
		width: 100%;
		margin-bottom: var(--space-4);
	}

	&__footer {
		font-size: var(--font-size--small);
	}

	&__author,
	&__categories,
	&__date {
		.label {
			display: none;
		}
	}

	&__date {
		font-weight: bold;
	}

	@media (--from-breakpoint-5) {
		display: grid;
		column-gap: var(--gutter);
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas:
			"footer header header image"
			"footer main   main   image";

		&__title {
			font-size: var(--font-size--extra-large);
		}

    	img {
    		margin-bottom: 0;
    	}

        &__categories {
			margin-top: var(--space-2);
			overflow-wrap: break-word;
		}

  		&__footer {
			margin-top: 0.25em;
        	grid-area: footer;
        }

        &__header {
        	grid-area: header;
        }

  		&__main {
        	grid-area: main;
		}

        &__image {
        	grid-area: image;
        }
	}

	@media (--from-breakpoint-5) {
		--copywriting-max-width: 24rem;

		grid-template-areas:
			"footer header header image"
			"footer main   main   image";

		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
