.loop--wbl-projects {
	@mixin is-page-content--full-page;
	margin-bottom: var(--space-12);
	margin-top: var(--space-12);

	display: grid;
	column-gap: var(--gutter);
	row-gap: var(--space-12);
	grid-template-columns: 1fr;

	@media (--from-breakpoint-2) {
		grid-template-columns: 1fr 1fr;
	}

	@media (--from-breakpoint-4) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.loop--wbl-projects .entry {

	&__title {
		font-size: var(--font-size--large);
		margin-bottom: var(--space-4);
		margin-top: 0;
	}

	p {
		margin-bottom: var(--space-4);
	}

	img {
		display: block;
		width: 100%;
		margin-bottom: var(--space-4);
	}

	&__footer {
		font-size: var(--font-size--small);
	}
}
