.pagination {
	margin-bottom: var(--space-8);
	margin-top: var(--space-8);

	a {
		@mixin reset-link;
		font-weight: bold;

		&:hover {
			text-decoration: underline;
			text-decoration-thickness: 2px;
		}
	}

	.nav-links {
		display: flex;
	}

	.page-numbers {
		padding: var(--space-1) var(--space-2);
	}

	.page-numbers.prev,
	.page-numbers.next {
		padding: 0;
		margin: var(--space-1) var(--space-2);
	}

	.page-numbers.prev {
		margin-left: 0;
	}

	.page-numbers.next {
		margin-right: 0;
	}

	.current {
		background-color: var(--foreground-color);
		color: var(--background-color);
		font-style: italic;
	}

	@media (--to-breakpoint-1) {
		.nav-links {
			justify-content: space-between;
		}

		.page-numbers:not(.prev):not(.next) {
			display: none;
		}
	}
}

.posts-nav {
	display: flex;
	.page-numbers {

		&.current {
			font-weight: bold;
		}
	}
}
