.page-image {
	@mixin container--page-content--full-site;
	margin-top: calc(var(--row) * 4);
	margin-bottom: calc(var(--row) * 4);

	&__inner {
	}

	img {
		display: block;
		margin-bottom: 0;
		width: 100%;
	}

	@media (--grid-columns-8) {

		&__inner {
			@mixin container--page;
		}
	}
}
