.post-navigation {
	margin-top: var(--space-8);
	margin-bottom: var(--space-8);

	a {}

	&__links {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: var(--gutter);
		row-gap: var(--space-4);

		@media (--from-breakpoint-2) {
			grid-template-columns: 1fr 1fr;
			@mixin ie11-grid-fallback 2;
		}
	}

	&__link-label {
		@mixin label;
		margin-bottom: var(--space-2);
	}

	&__link {

		&--previous {

		}

		&--next {

		}
	}
}
