.posts {
	@mixin is-page-content;
	@mixin is-page-content--full;
	margin-bottom: var(--space-10);
	margin-top: var(--space-8);

	_:-ms-fullscreen, :root & {
		column-gap: var(--gutter);
		@mixin ie11-grid-fallback 2;
	}
}
