/**
 * A post in a posts loop
 *
 * Elements
 * &__meta-group
 * &__content-container
 * &__header
 * &__title
 * &__main
 * &__image
 */

.posts-post {
	display: grid;
	column-gap: var(--gutter);
	row-gap: var(--space-2);

    &__content-container {
    	display: grid;
		column-gap: var(--gutter);
		row-gap: var(--space-2);
		grid-template-rows: auto 1fr;
    }

	&__header {
	}

	&__title {
		margin-top: 0;
		margin-bottom: 0;
		line-height: var(--line-height--sm);
	}

	&__image {}

	&__image img {
		display: block;
		width: 100%;
		margin-bottom: 0;
	}

	&__main p {
		margin-bottom: 0;
	}

	&__main {
		/* margin-bottom: var(--space-2); */
	}

	&__meta-group {
		/* font-size: var(--font-size--sm); */

		.meta {

			&__label {
				display: none;
			}

			&--categories {
				/* margin-top: var(--space-1); */

				a {
					/* @mixin reset-link; */

					&:hover,
				    &:active {
				    	/* @mixin link-active-2; */
				    }
				}
			}
		}
	}

	/** Additional and modifying classes */

	& + & {
		margin-top: var(--space-6);
	}

	/** Media Queries */
	@media (--from-breakpoint-2) {
		grid-template-areas:
			"meta content content content";

		grid-template-columns: 1fr 1fr 1fr 1fr;

		&__content-container {
        	grid-area: content;
        }

        &__meta-group {
			margin-top: var(--space-1);
        	grid-area: meta;
        }
	}

	@media (--from-breakpoint-3) {
		grid-template-areas:
			"meta content content content";

		grid-template-columns: 1fr 1fr 1fr 1fr;

        &__content-container {
        	grid-area: content;

			grid-template-areas:
				"header header image"
				"main main image";

			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto 1fr;
        }

  		&__meta-group {
			margin-top: var(--space-1);
        	grid-area: meta;
        }

        &__header {
        	grid-area: header;
        }

  		&__main {
        	grid-area: main;
		}

        &__image {
        	grid-area: image;
        }
	}

	@media (--from-breakpoint-5) {
		&__header,
        &__main {
        	max-width: 600px;
        }
	}
}
