.site-nav {
	--background-color: var(--wp--preset--color--secondary-1);
	--foreground-color: var(--wp--preset--color--primary-1);

	background-color: var(--background-color);
	color: var(--foreground-color);

	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	font-size: var(--font-size--site-nav);
	padding-top: var(--space-4);
	padding-bottom: var(--space-2);
	padding-left: calc(var(--gutter) * 1);
	padding-right: calc(var(--gutter) * 1);

	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	overflow-y: auto;
	overscroll-behavior-y: contain;

	visibility: hidden;
	opacity: 0;

/* 	_:-ms-fullscreen, :root & {
		display: none;
	} */

	/** Activate navigation */
	&[aria-expanded="true"] {
		visibility: visible;
		opacity: 1;


		/* _:-ms-fullscreen, :root & {
			display: block;
		} */
	}

	/** General style */

	ul {
		@mixin reset-list;
		margin-bottom: 0;
	}

	a {
		@mixin reset-link;
		font-weight: bold;
		text-transform: uppercase;
	}

	.menu {
		&__item {
			display: block;

			> .menu__link {
				&:hover {
					text-decoration: underline;
					text-decoration-style: dotted;
					text-decoration-thickness: var(--ui-border-width);
				}
			}

			&--current,
			&--parent,
			&--ancestor {
				> .menu__link {
					text-decoration: underline;
				}
			}

			& + .menu__item {
				margin-top: var(--space-3);
			}
		}

		&__item.has-children {
			padding-bottom: 0;
		}

		&__sub-menu {
			display: none;
			padding: var(--space-2);
			font-size: var(--font-size--small);
		}

		&__sub-menu .menu__item {
			padding-top: var(--space-1);
			padding-bottom: var(--space-1);
		}
	}
}
