.site-debug-info {
	display: none;
	font-family: monotype;
	font-weight: bold;
	font-size: var(--font-size--extra-small);
	line-height: var(--line-height--extra-small);
	text-align: right;
	position: fixed !important;
	z-index: 999;
	right: 0.5rem;
	bottom: 0.5rem;

	&__grid-toggle,
	&__version,
	&__media-queries {
		display: inline-block;
		opacity: 0.4;
		padding: 0.25rem;
		border-radius: 10px;
		background-color: var(--background-color);
	}

	&__grid-toggle {
		label {
			display: inline-block;
		}

		input {
			display: inline-block;
		}
	}

	&__version {
	}

	&__media-queries {

		&:after {
			@mixin dev--media-query-info;
		}
	}
}

/* Show debug-info in development mode */
.is-debug-mode .site-debug-info {
	display: block;
}

