.site-debug-info {
	display: none;
	font-family: monotype;
	font-weight: bold;
	font-size: var(--font-size--extra-small);
	line-height: var(--line-height--extra-small);
	text-align: right;
	position: fixed !important;
	z-index: 99;
	right: 0.5rem;
	bottom: 0.5rem;

	&__grid-toggle,
	&__version,
	&__media-queries {
		display: inline-block;
		opacity: 0.4;
		padding: 0.25rem;
		border-radius: 10px;
		background-color: var(--background-color);
	}

	&__grid-toggle {
		label {
			display: inline-block;
		}

		input {
			display: inline-block;
		}
	}

	&__version {
	}

	&__media-queries {

		&:after {
			@mixin dev--media-query-info;
		}
	}
}

.site-grid {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: var(--site--width);
	opacity: 0.025;

	--foreground-color: #000;

	@mixin dev--background-grid;
}

/* Show debug-info in development mode */
.is-debug-mode .site-debug-info {
	display: block;
}

