.alignleft,
.alignright {
}

.alignleft {
	@mixin is-page-content--left;
}

.alignright {
	@mixin is-page-content--right;
}

figure.alignleft,
figure.alignright {

	width: 100%;

	img {
		width: 100%;
	}

	@media (--from-breakpoint-1) {
		margin-top: var(--space-1);
	}

}

figure.alignright {

	@media (--grid-columns-12) {
		/* margin-right: calc(var(--column-gutter-1) * -1); */
	}
}

figure.alignleft {
	margin-left: 0;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignwide {
	@mixin is-page-content--full-page;
	margin-top: var(--space-8);
	margin-bottom: var(--space-8);

	@media (--grid-columns-6) {
		margin-top: var(--space-12);
		margin-bottom: var(--space-12);
	}

	@media (--grid-columns-12) {
		margin-top: var(--space-16);
		margin-bottom: var(--space-16);
	}
}

.alignfull {
	@mixin is-page-content--full-screen;

	@media (--grid-columns-6) {
		margin-top: var(--space-12);
		margin-bottom: var(--space-12);
	}

	@media (--grid-columns-12) {
		margin-top: var(--space-16);
		margin-bottom: var(--space-16);
	}

	&.has-background {
		@mixin is-page-content--full-screen-with-background;
	}
}
