/**
 * Generic base
 *
 * This offers base styling for common elements.
 */


/* Root
---------------------------------------------------- */

html {
    font-size: var(--wp--custom--rem-size);
}

body {
    font-family: var(--wp--custom--font-family);
    line-height: var(--wp--custom--line-height--normal);
    background: transparent;
}


/* Headings
---------------------------------------------------- */
/* Reverse order so that the * wildcard specifity is in the right order... Usecase? */

h6,
h5,
h4,
h3,
h2,
h1 {
    font-weight: bold;
    font-style: normal;
    overflow-wrap: break-word;
    text-transform: uppercase;
    max-width: var(--wp--custom--text-max-width);
}

h6,
h5,
h4,
h3 {
    font-size: var(--wp--preset--font-size--normal);
    line-height: var(--wp--custom--line-height--small);
    margin-top: var(--wp--custom--space--10);
    margin-bottom: var(--wp--custom--space--4);
}

h2 {
    font-size: var(--wp--preset--font-size--extra-large);
    line-height: var(--wp--custom--line-height--extra-small);
    margin-top: var(--wp--custom--space--12);
    margin-bottom: var(--wp--custom--space--8);
}


h1 {
    font-size: var(--wp--preset--font-size--gigantic);
    line-height: var(--wp--custom--line-height--extra-small);
    margin-top: var(--wp--custom--space--12);
    margin-bottom: var(--wp--custom--space--12);

    max-width: calc(var(--wp--custom--text-max-width) * 1.25);
}


/* Copywriting
---------------------------------------------------- */

p {
    margin-bottom: var(--wp--custom--space--8);
    max-width: var(--wp--custom--text-max-width);
}


/* Inline
---------------------------------------------------- */

br, strong {}

i, em {}


/* Links
---------------------------------------------------- */

a {
    @mixin link;
}


/* Lists
---------------------------------------------------- */

ul, ol {
    padding-left: 1.1em;
    margin-left: 0;
    margin-bottom: var(--wp--custom--space--8);

    ul, ol {}
}

li {}



/* Tables
---------------------------------------------------- */

table {
    border-collapse: collapse; /* Makes table rows borderable */
    border-spacing: 0;
    width: 100%;
    margin-bottom: var(--wp--custom--space--8);
}

th,
td {
    border-width: 1px;
    text-align: left;
    vertical-align: top;
}




/* Miscelaneous
---------------------------------------------------- */

hr {
    color: currentColor;
    border: 0;
    border-bottom-width: var(--ui-border-width);
    border-color: currentColor;
    border-style: solid;
    clear: both;
    width: 100%;
    margin-top: var(--wp--custom--space--8);
    margin-bottom: var(--wp--custom--space--8);
}

pre {
    white-space: pre-wrap;
    margin-bottom: var(--wp--custom--space--8);
}


/* Blockquotes
---------------------------------------------------- */

blockquote {
    margin-bottom: var(--wp--custom--space--8);

    > *:last-child {
        margin-bottom: 0;
    }

    i,
    em,
    cite {

    }

    p {

    }

    cite {
        font-style: normal;
        max-width: var(--wp--custom--text-max-width);
        &:before {
            content: '\2014';
            margin-right: 0.25em;
        }
    }
}


/* Media
---------------------------------------------------- */
img,
figure,
audio,
video,
object,
embed,
iframe {
    max-width: 100%;
    height: auto;
    margin-bottom: var(--wp--custom--space--8);
}

figure,
audio,
video,
object,
embed,
iframe {
    display: block;
}

figure {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

figure img {
    display: block;
}

figure > * {
    margin-bottom: 0;
}

figcaption {
    margin-top: var(--wp--custom--space--3);
    font-size: var(--wp--preset--font-size--extra-small);
    line-height: var(--wp--custom--line-height--extra-small);
}


/* SVG
---------------------------------------------------- */

svg {
    @mixin svg;
}


/* Form
---------------------------------------------------- */

textarea {
    /* Removes empty space under textarea. */
    display: block;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
    background-color: transparent;
    border: var(--ui-border-width) var(--ui-border-style) var(--foreground-color);
    border-radius: 0;
    font-size: var(--wp--preset--font-size--small);
    padding: var(--wp--custom--space--1) var(--wp--custom--space--1);
    width: 100%;
    transition: border-color var(--transition-fast);

    &::placeholder {
        color: var(--ui-color);
        font-style: italic;
    }

    &:focus {
        /* Use transparent outline for Windows high contrast mode. */
        outline: 2px solid transparent;
    }

    &:hover,
    &:focus {
        border-color: var(--ui-color);
    }
}

label {
    display: block;
    /* font-weight: bold; */
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 0.25em;
    /* font-weight: normal; */
    line-height: var(--wp--custom--line-height--small);

    & + label {
        display: inline;
        font-size: var(--wp--preset--font-size--small);
        line-height: var(--wp--custom--line-height--small);
        /* font-weight: normal; */
    }
}


/* Buttons
---------------------------------------------------- */

input[type="submit"] {
    background-color: transparent;
    border: 0;
}

button,
input[type="submit"] {
    @mixin button;
}
