/* Maybe put in :root to create specificity */

/*
Moeten kleuren altijd doorlekken naar onderliggende elementen?
- Paragraaf: ja
- Cover: ja
- Groep: ja
- inline: ja

Geldt dit ook voor background-color? Je zou zeggen van niet, maar bij het cover-block lekt het door naar de ::before.
*/

/* Background colors */

.has-primary-1-background-color {
	--background-color: var(--wp--preset--color--primary-1);
	background-color: var(--background-color);
}

.has-secondary-1-background-color {
	--background-color: var(--wp--preset--color--secondary-1);
	background-color: var(--background-color);
}

.has-tertiary-1-background-color {
	--background-color: var(--wp--preset--color--tertiary-1);
	background-color: var(--background-color);
}

.has-white-background-color {
	--background-color: #fff;
	color: var(--background-color);
}

.has-black-background-color {
	--background-color: #000;
	color: var(--background-color);
}

/* Foreground colors. */

.has-primary-1-color {
	--foreground-color: var(--wp--preset--color--primary-1);
	color: var(--foreground-color);
}

.has-secondary-1-color {
	--foreground-color: var(--wp--preset--color--secondary-1);
	color: var(--foreground-color);
}

.has-tertiary-1-color {
	--foreground-color: var(--wp--preset--color--tertiary-1);
	color: var(--foreground-color);
}

.has-white-color {
	--foreground-color: #fff;
	color: var(--foreground-color);
}

.has-black-color {
	--foreground-color: #000;
	color: var(--foreground-color);
}

/**
 * Container colors
 */
