/**
 * Editor stylesheet for the theme.
 *
 * Theme styles follow http://cssguidelin.es/ and are organized according to
 * Inverted Triangle CSS (ITCSS) principles put forth by Harry Roberts. In
 * short, each layer of CSS gets more specific as you move down this page.
 */

/*--------------------------------------------------------------
# Settings - Global variables, config switches.
--------------------------------------------------------------*/

/**
 * Media Queries / Breakpoints.
 *
 * Mobile first, so we start with general styles which apply to every screensize and change it going up the breakpoints.
 *
 * Special helpers:
 * - mobile xs: for very small screens. You can see it as "only breakpoint 0".
 * - mobile: usually the breakpoint where we expect touch screens. So different navigations.
 * - desktop: large screens.
 *
 * Has connection with site layout. See settings/spacing.css
 */

/**
 * Special helpers
 *
 * - Columns
 * - Devices
 */

/**
 * Load font faces
 */

/**
 * Typography
 *
 * Define rem-size, font-sizes, line-heights and font-families.
 *
 * - Mobile first: we change the font-size going up the breakpoints.
 * - Rem-size also impacts the spacing (see settings/spacing.css)
 * - Use values with units as much as you can because of performance impact calculating the unit
 */

:root {

	/* Root unit size */
	--rem-size: 100%; /* 16 */

	/* Typography */
	--font-family: unit-rounded, sans-serif;

	/* Font Sizes */
	--font-size--extra-small: 0.825rem;
	--font-size--small: 0.875rem;
	--font-size--normal: 1rem;
	--font-size--large: 1.25rem;
	--font-size--extra-large: 1.5rem;
	--font-size--huge: 2rem;
	--font-size--gigantic: 2.5rem;

	/* Line heights */
	--line-height--extra-small: 1;
	--line-height--small: 1.2;
	--line-height--normal: 1.333;
	--line-height--large: 1.5;

	/* Extra */
	--copywriting-max-width: 32rem;
}

/* Breakpoints */

@media (min-width: 360px) {

:root {
		--rem-size: 112.5%; /* 18 */

		--font-size--extra-small: 0.777778rem; /* 14 */
		--font-size--small: 0.8889rem /* 16 */
}
	}

@media (min-width: 600px) {

:root {
		--rem-size: 112.5%
}
	}

@media (min-width: 840px) {

:root {
		--rem-size: 118.75%
}
	}

@media (min-width: 1080px) {

:root {
		--rem-size: 125%
}
	}

@media (min-width: 1400px) {
	}

@media (min-width: 1720px) {

:root {
		--rem-size: 150%; /* 24 */
		--font-size--extra-small: 0.75rem;
		--font-size--small: 0.875rem;
		--line-height--normal: 1.4
}
	}

/**
 * Spacing
 *
 * Site width, columns and gutters. Also vertical rhythm.
 *
 * - Mobile first
 * - we start with one column and increase it throughout the breakpoints.
 * - The last breakpoint has fixed sizes so we can box the layout
 *
 * For the breakpoint timings: see settings/media-queries.css.
 */

:root {
	--space-1: 0.25rem;
	--space-2: 0.5rem;
	--space-3: 0.75rem;
	--space-4: 1rem;
	--space-5: 1.25rem;
	--space-6: 1.5rem;
	--space-8: 2rem;
	--space-10: 2.5rem;
	--space-12: 3rem;
	--space-16: 4rem;
	--space-20: 5rem;

	--column-span-1: var(--column);
	--column-span-2: calc(var(--column) * 2 + var(--gutter) * 1);
	--column-span-3: calc(var(--column) * 3 + var(--gutter) * 2);
	--column-span-4: calc(var(--column) * 4 + var(--gutter) * 3);
	--column-span-5: calc(var(--column) * 5 + var(--gutter) * 4);
	--column-span-6: calc(var(--column) * 6 + var(--gutter) * 5);
	--column-span-7: calc(var(--column) * 7 + var(--gutter) * 6);
	--column-span-8: calc(var(--column) * 8 + var(--gutter) * 7);
	--column-span-9: calc(var(--column) * 9 + var(--gutter) * 8);
	--column-span-10: calc(var(--column) * 10 + var(--gutter) * 9);
	--column-span-11: calc(var(--column) * 11 + var(--gutter) * 10);
	--column-span-12: calc(var(--column) * 12 + var(--gutter) * 11);

	--site--width:   88vw;
	--site--padding: 6vw;

	/* One column */
	--column: 88vw;
	--gutter: 0vw;

	/* Column & gutter shortcuts */
	--column-span-1: var(--column);
	--column-span-2: calc(var(--column) * 2 + var(--gutter) * 1);
	--column-span-3: calc(var(--column) * 3 + var(--gutter) * 2);
	--column-span-4: calc(var(--column) * 4 + var(--gutter) * 3);
	--column-span-5: calc(var(--column) * 5 + var(--gutter) * 4);
	--column-span-6: calc(var(--column) * 6 + var(--gutter) * 5);
	--column-span-7: calc(var(--column) * 7 + var(--gutter) * 6);
	--column-span-8: calc(var(--column) * 8 + var(--gutter) * 7);
	--column-span-9: calc(var(--column) * 9 + var(--gutter) * 8);
	--column-span-10: calc(var(--column) * 10 + var(--gutter) * 9);
	--column-span-11: calc(var(--column) * 11 + var(--gutter) * 10);
	--column-span-12: calc(var(--column) * 12 + var(--gutter) * 11);

	--column-gutter-1: calc(var(--column) * 1 + var(--gutter) * 1);
	--column-gutter-2: calc(var(--column) * 2 + var(--gutter) * 2);
	--column-gutter-3: calc(var(--column) * 3 + var(--gutter) * 3);
	--column-gutter-4: calc(var(--column) * 4 + var(--gutter) * 4);
	--column-gutter-5: calc(var(--column) * 5 + var(--gutter) * 5);
	--column-gutter-6: calc(var(--column) * 6 + var(--gutter) * 6);
	--column-gutter-7: calc(var(--column) * 7 + var(--gutter) * 7);
	--column-gutter-8: calc(var(--column) * 8 + var(--gutter) * 8);
	--column-gutter-9: calc(var(--column) * 9 + var(--gutter) * 9);
	--column-gutter-10: calc(var(--column) * 10 + var(--gutter) * 10);
	--column-gutter-11: calc(var(--column) * 11 + var(--gutter) * 11);
	--column-gutter-12: calc(var(--column) * 12 + var(--gutter) * 12);
}

@media (min-width: 360px) {

:root {

    	/* Two columns */
    	--column:        41vw;
		--gutter:        6vw
}
    }

@media (min-width: 840px) {

:root {

    	/* Six columns */
		--site--width:   85vw;
		--site--padding: 7.5vw;

		--column:        10vw;
		--gutter:        5vw
}
    }

@media (min-width: 1400px) {

:root {

    	/* Twelve columns */
		--site--width:   1080px;
		--site--padding: 60px;

    	--column: 35px; 
		--gutter: 60px
} 
    }

@media (min-width: 1720px) {

:root {
		--site--width:   1200px;
		--site--padding: 60px;

    	--column: 45px; 
		--gutter: 60px
}
    }

@media (min-width: 1920px) {

:root {
    	--site--width:   1320px;
		--site--padding: 90px;

    	--column: 55px; 
		--gutter: 60px
} 
    }

:root {

	/**
	 * Color library
	 *
	 * We define them in theme-support colors function in php, but we
	 * also define fallback colors here for when they are missing out.
	 */
	--wp--preset--color--primary-1: #FFF7D6;
	--wp--preset--color--secondary-1: #000000;

	/**
	 * Assign colors
	 */
	--background-color: var(--wp--preset--color--primary-1);
	--foreground-color: var(--wp--preset--color--secondary-1);

	/* --ui-color: var(--wp--preset--color--secondary-1); */

	/* @media screen and (prefers-color-scheme: dark) {
		--background-color: var(--wp--preset--color--secondary-1);
		--foreground-color: var(--wp--preset--color--primary-1);
		--ui-color: var(--wp--preset--color--primary-1);
	} */
}

:root {
	--transition: 200ms ease-in-out 0s;
	--transition-fast: 100ms ease-in-out 0s;
}

:root {

	--button-border-width: 6px;

	--ui-border-width: 2px;
	--ui-border-style: solid;

	--page-image-height: 0px;

/* 	--copywriting-max-width: none;

	@media ) {
		--copywriting-max-width: var(--column-span-4);
	}

	@media (--from-breakpoint-5) {
		--copywriting-max-width: var(--column-span-8);
	}

	@media (--from-breakpoint-7) {
		--copywriting-max-width: var(--column-span-7);
	} */
}

/*--------------------------------------------------------------
# Tools - Default mixins and functions.
--------------------------------------------------------------*/

/* Mixins are predefined css, usable anywhere in the stylesheets */

/* ===============
 * Links
 * =============== */

/* ===============
 * Buttons
 * =============== */

/* ===============
 * Other
 * =============== */

/* ===============
 * Development
 * =============== */

/* Mixins: Structure */

/* Mixins are predefined css, usable anywhere in the stylesheets */

/* ---- */

/* ---- */

/* Collapse vertical margin */

/* Clearfix for floating */

/** Editor structure helpers */

/* Fix fullscreen in editor */

/*--------------------------------------------------------------
# Generic - Ground-zero styles (resets, box-sizing, etc.).
--------------------------------------------------------------*/

/* @import "generic/reset.css"; */

/**
 * Generic base
 *
 * This offers base styling for common elements.
 */

/* Root
---------------------------------------------------- */

html {
    font-size: var(--rem-size);
}

body {
    font-family: var(--font-family);
    line-height: var(--line-height--normal);
    background: transparent;
}

/* Headings
---------------------------------------------------- */

/* Reverse order so that the * wildcard specifity is in the right order... Usecase? */

h6,
h5,
h4,
h3,
h2,
h1 {
    font-weight: bold;
    font-style: normal;
    word-wrap: break-word;
    text-transform: uppercase;
    max-width: var(--copywriting-max-width);
}

h6,
h5,
h4,
h3 {
    font-size: var(--font-size--normal);
    line-height: var(--line-height--small);
    margin-top: var(--space-10);
    margin-bottom: var(--space-4);
}

h2 {
    font-size: var(--font-size--extra-large);
    line-height: var(--line-height--extra-small);
    margin-top: var(--space-12);
    margin-bottom: var(--space-8);
}

h1 {
    font-size: var(--font-size--gigantic);
    line-height: var(--line-height--extra-small);
    margin-top: var(--space-12);
    margin-bottom: var(--space-12);

    max-width: calc(var(--copywriting-max-width) * 1.25);
}

/* Copywriting
---------------------------------------------------- */

p {
    margin-bottom: var(--space-8);
    max-width: var(--copywriting-max-width);
}

/* Inline
---------------------------------------------------- */

br, strong {}

i, em {}

/* Links
---------------------------------------------------- */

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.1em;
}

a:hover,
    a:active {
        outline: 0;
        -webkit-text-decoration-style: dotted;
                text-decoration-style: dotted;
    }

/* Lists
---------------------------------------------------- */

ul, ol {
    padding-left: 1.1em;
    margin-left: 0;
    margin-bottom: var(--space-8);
}

ul ul, ul ol, ol ul, ol ol {}

li {}

/* Tables
---------------------------------------------------- */

table {
    border-collapse: collapse; /* Makes table rows borderable */
    border-spacing: 0;
    width: 100%;
    margin-bottom: var(--space-8);
}

th,
td {
    border-width: 1px;
    text-align: left;
    vertical-align: top;
}

/* Miscelaneous
---------------------------------------------------- */

hr {
    color: currentColor;
    border: 0;
    border-bottom-width: var(--ui-border-width);
    border-color: currentColor;
    border-style: solid;
    clear: both;
    width: 100%;
    margin-top: var(--space-8);
    margin-bottom: var(--space-8);
}

pre {
    white-space: pre-wrap;
    margin-bottom: var(--space-8);
}

/* Blockquotes
---------------------------------------------------- */

blockquote {
    margin-bottom: var(--space-8);
}

blockquote > *:last-child {
        margin-bottom: 0;
    }

blockquote i,
    blockquote em,
    blockquote cite {

    }

blockquote p {

    }

blockquote cite {
        font-style: normal;
        max-width: var(--copywriting-max-width);
    }

blockquote cite:before {
            content: '\2014';
            margin-right: 0.25em;
        }

/* Media
---------------------------------------------------- */

img,
figure,
audio,
video,
object,
embed,
iframe {
    max-width: 100%;
    height: auto;
    margin-bottom: var(--space-8);
}

figure,
audio,
video,
object,
embed,
iframe {
    display: block;
}

figure {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

figure img {
    display: block;
}

figure > * {
    margin-bottom: 0;
}

figcaption {
    margin-top: var(--space-3);
    font-size: var(--font-size--extra-small);
    line-height: var(--line-height--extra-small);
}

/* SVG
---------------------------------------------------- */

svg {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    position: relative;
    top: -0.0625em;
    vertical-align: middle;
    width: 1em;
}

/* Form
---------------------------------------------------- */

textarea {
    /* Removes empty space under textarea. */
    display: block;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
    background-color: transparent;
    border: var(--ui-border-width) var(--ui-border-style) var(--foreground-color);
    border-radius: 0;
    font-size: var(--font-size--small);
    padding: var(--space-1) var(--space-1);
    width: 100%;
    transition: border-color var(--transition-fast);
}

input[type="text"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder, input[type="url"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder, input[type="search"]::-ms-input-placeholder, input[type="number"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder, input[type="range"]::-ms-input-placeholder, input[type="date"]::-ms-input-placeholder, input[type="month"]::-ms-input-placeholder, input[type="week"]::-ms-input-placeholder, input[type="time"]::-ms-input-placeholder, input[type="datetime"]::-ms-input-placeholder, input[type="datetime-local"]::-ms-input-placeholder, input[type="color"]::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
        color: var(--ui-color);
        font-style: italic;
    }

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="url"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="number"]::placeholder, input[type="tel"]::placeholder, input[type="range"]::placeholder, input[type="date"]::placeholder, input[type="month"]::placeholder, input[type="week"]::placeholder, input[type="time"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="color"]::placeholder, textarea::placeholder, select::placeholder {
        color: var(--ui-color);
        font-style: italic;
    }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus, select:focus {
        /* Use transparent outline for Windows high contrast mode. */
        outline: 2px solid transparent;
    }

input[type="text"]:hover,
    input[type="text"]:focus,
    input[type="email"]:hover,
    input[type="email"]:focus,
    input[type="url"]:hover,
    input[type="url"]:focus,
    input[type="password"]:hover,
    input[type="password"]:focus,
    input[type="search"]:hover,
    input[type="search"]:focus,
    input[type="number"]:hover,
    input[type="number"]:focus,
    input[type="tel"]:hover,
    input[type="tel"]:focus,
    input[type="range"]:hover,
    input[type="range"]:focus,
    input[type="date"]:hover,
    input[type="date"]:focus,
    input[type="month"]:hover,
    input[type="month"]:focus,
    input[type="week"]:hover,
    input[type="week"]:focus,
    input[type="time"]:hover,
    input[type="time"]:focus,
    input[type="datetime"]:hover,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:hover,
    input[type="datetime-local"]:focus,
    input[type="color"]:hover,
    input[type="color"]:focus,
    textarea:hover,
    textarea:focus,
    select:hover,
    select:focus {
        border-color: var(--ui-color);
    }

label {
    display: block;
    /* font-weight: bold; */
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 0.25em;
    /* font-weight: normal; */
    line-height: var(--line-height--small);
}

input[type="checkbox"] + label, input[type="radio"] + label {
        display: inline;
        font-size: var(--font-size--small);
        line-height: var(--line-height--small);
        /* font-weight: normal; */
    }

/* Buttons
---------------------------------------------------- */

input[type="submit"] {
    background-color: transparent;
    border: 0;
}

button,
input[type="submit"] {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    line-height: var(--line-height--small);
    /* font-size: var(--font-size--small);
    text-transform: uppercase; */
    display: inline-block;
    cursor: pointer;
    border: var(--ui-border-width) var(--ui-border-style) var(--foreground-color);
    padding: var(--space-1);
    transition: border-color var(--transition-fast);
    position: relative;
}

button:hover,
    button:focus,
    button:active,
    input[type="submit"]:hover,
    input[type="submit"]:focus,
    input[type="submit"]:active {
    	text-decoration: underline;
    	text-decoration-thickness: var(--ui-border-width);
    }

.wp-block-quote {
	border-left-width: 0;
	margin-bottom: 0;
	padding-left: 0;	
}

/*--------------------------------------------------------------
# Structure - 
--------------------------------------------------------------*/

/* @import "structure/root.css";
@import "structure/site.css";
@import "structure/site-header.css";
@import "structure/site-main.css";
@import "structure/site-footer.css";
@import "structure/page.css";
@import "structure/page-header.css";
@import "structure/page-main.css";
@import "structure/page-footer.css";
@import "structure/page-comments.css"; */

/*--------------------------------------------------------------
# Blocks - editor related styles.
--------------------------------------------------------------*/

/* @import "blocks/core/button.css";
@import "blocks/core/code.css";
@import "blocks/core/cover.css";
@import "blocks/core/gallery.css";
@import "blocks/core/image.css";
@import "blocks/core/media-text.css";
@import "blocks/core/pullquote.css"; */

/**
 * Difference between pullquote and quote:
 *
 * - A quote is something someone else said.
 * - A pullquote is a piece of text from the text of your article, pulled out.
 *
 * @link https://github.com/WordPress/gutenberg/issues/11610
 */

.wp-block-quote p {
		font-style: italic;
		font-weight: bold;
		margin-bottom: var(--space-4);
	}

.wp-block-quote cite {
		display: block;
		margin-top: calc( var(--space-1) * -1 );
		font-size: var(--font-size--small);
		font-style: normal;
		font-weight: regular;
	}

@media (min-width: 600px) {

.wp-block-quote {
		padding-left: var(--space-8);
		padding-right: var(--space-8)
}
	}

@media (min-width: 1400px) {

.wp-block-quote {
		margin-top: var(--space-10);
		margin-bottom: var(--space-10);
		padding-left: var(--column-gutter-1);
		padding-right: var(--column-gutter-1)
}
	}

/* @import "blocks/core/separator.css";
@import "blocks/core/table.css"; */

.wp-block-columns {
	margin-top: calc(var(--vertical-space) * 2);
	margin-bottom: calc(var(--vertical-space) * 2);

	display: grid;
	grid-column-gap: var(--gutter);
	column-gap: var(--gutter);
	grid-row-gap: var(--space-8);
	row-gap: var(--space-8);

	grid-template-columns: 1fr;
}

@media (min-width: 600px) {

.wp-block-columns {
		grid-template-columns: 1fr 1fr
}
	}

.wp-block-columns.is-style-columns-1 {
	grid-template-columns: 1fr;
}

@media (min-width: 1080px) {

.wp-block-columns.is-style-columns-3,
.wp-block-columns.is-style-columns-4 {
		grid-template-columns: 1fr 1fr 1fr
}
	}

@media (min-width: 1720px) {

.wp-block-columns.is-style-columns-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr
}
	}

.wp-block-columns.is-style-columns-2 {
	grid-template-columns: 1fr;
}

@media (min-width: 600px) {

.wp-block-columns.is-style-columns-2 {
		grid-template-columns: 1fr 1fr
}
	}

@media (min-width: 1400px) {

.alignwide.wp-block-columns,
.alignfull.wp-block-columns {
		margin-top: var(--space-20);
		margin-bottom: var(--space-20)
}
	}

.wp-block-column > *:first-child { margin-top: 0; }

.wp-block-column > *:last-child { margin-bottom: 0; }

.wp-block-group {
	--background-color: transparent;

	position: relative;
	background-color: var(--background-color);

	/**
	 * By preference: no flex on group block
	 * because this creates difficulties with overlapping margins 
	 */
	/* display: flex;
	justify-content: center; */

	margin-top: var(--space-8);
	margin-bottom: var(--space-8);
}

@media (min-width: 840px) {

.wp-block-group {
		margin-top: var(--space-12);
		margin-bottom: var(--space-12)
}
	}

.wp-block-group__inner-container {
		color: var(--foreground-color);
		width: 100%;

		margin-left: auto;

		margin-right: auto;

		max-width: var(--site--width);

		width: 100%;
	}

@media (min-width: 1400px) {

.alignwide.wp-block-group,
.alignfull.wp-block-group {
		margin-top: var(--space-20);
		margin-bottom: var(--space-20)
}
	}

.has-background.wp-block-group {
	overflow-y: hidden;
}

.has-background.wp-block-group > .wp-block-group__inner-container {
		margin: var(--gutter);
		width: auto;
		max-width: none;
	}

/* Maybe put in :root to create specificity */

/*
Moeten kleuren altijd doorlekken naar onderliggende elementen?
- Paragraaf: ja
- Cover: ja
- Groep: ja
- inline: ja

Geldt dit ook voor background-color? Je zou zeggen van niet, maar bij het cover-block lekt het door naar de ::before.
*/

/* Background colors */

.has-primary-1-background-color {
	--background-color: var(--wp--preset--color--primary-1);
	background-color: var(--background-color);
}

.has-secondary-1-background-color {
	--background-color: var(--wp--preset--color--secondary-1);
	background-color: var(--background-color);
}

.has-tertiary-1-background-color {
	--background-color: var(--wp--preset--color--tertiary-1);
	background-color: var(--background-color);
}

.has-white-background-color {
	--background-color: #fff;
	color: var(--background-color);
}

.has-black-background-color {
	--background-color: #000;
	color: var(--background-color);
}

/* Foreground colors. */

.has-primary-1-color {
	--foreground-color: var(--wp--preset--color--primary-1);
	color: var(--foreground-color);
}

.has-secondary-1-color {
	--foreground-color: var(--wp--preset--color--secondary-1);
	color: var(--foreground-color);
}

.has-tertiary-1-color {
	--foreground-color: var(--wp--preset--color--tertiary-1);
	color: var(--foreground-color);
}

.has-white-color {
	--foreground-color: #fff;
	color: var(--foreground-color);
}

.has-black-color {
	--foreground-color: #000;
	color: var(--foreground-color);
}

/**
 * Container colors
 */

/* Maybe put in :root to create specificity */

/* Font sizes. */

.has-small-font-size {
	font-size: var(--font-size--small);
}

.has-normal-font-size {
	font-size: var(--font-size--normal);
}

.has-medium-font-size {
	font-size: var(--font-size--extra-large);
}

.has-large-font-size {
	font-size: var(--font-size--huge);
}

.has-huge-font-size {
	font-size: var(--font-size--gigantic);
}

.has-text-align-left {
	text-align: left;
}

.has-text-align-right {
	text-align: right;
}

.has-text-align-center {
	text-align: center;
}

/* Parallax */

.has-parallax {
	background-attachment: fixed;
}

/* Position: Top */

.is-position-top-left {
	align-items: flex-start;
	justify-content: flex-start;
}

.is-position-top-center {
	align-items: flex-start;
	justify-content: center;
}

.is-position-top-right {
	align-items: flex-start;
	justify-content: flex-end;
}

/* Position: Center */

.is-position-center-left {
	align-items: center;
	justify-content: flex-start;
}

.is-position-center-center {
	align-items: center;
	justify-content: center;
}

.is-position-center-right {
	align-items: center;
	justify-content: flex-end;
}

/* Position: Bottom */

.is-position-bottom-left {
	align-items: flex-end;
	justify-content: flex-start;
}

.is-position-bottom-center {
	align-items: flex-end;
	justify-content: center;
}

.is-position-bottom-right {
	align-items: flex-end;
	justify-content: flex-end;
}

/* Background dimming */

.has-background-dim {
	background-color: transparent;

}

.has-background-dim:before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		content: '';
		background-color: var(--background-color);
		opacity: .5;
	}

.has-background-dim-10:before { opacity: .1; }

.has-background-dim-20:before { opacity: .2; }

.has-background-dim-30:before { opacity: .3; }

.has-background-dim-40:before { opacity: .4; }

.has-background-dim-50:before { opacity: .5; }

.has-background-dim-60:before { opacity: .6; }

.has-background-dim-70:before { opacity: .7; }

.has-background-dim-80:before { opacity: .8; }

.has-background-dim-90:before { opacity: .9; }

.has-background-dim-100:before { opacity: 1; }

/*--------------------------------------------------------------
# Utilities - Helpers and overrides.
--------------------------------------------------------------*/

ul.is-style-no-bullets,
ol.is-style-no-bullets {
	list-style-type: none;
	padding-left: 0;
}

body.has-page-image {
	--page-image-height: 50vh;
}

body.has-page-image.is-singular--wbl_project {
		--page-image-height: 80vh;
	}

body.has-page-image.has-expanded-site-nav {
		--page-image-height: 0px;
	}

/**
 * Body will be transformed to .editor-styles-wrapper because we add
 * theme support for editor-styles in this theme
 *
 * @link https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#editor-styles
 */

body {
	--background-color: var(--wp--preset--color--primary-1);
	--foreground-color: var(--wp--preset--color--secondary-1);

	background-color: var(--background-color);
	color: var(--foreground-color);

	font-family: var(--font-family);
    line-height: var(--line-height--normal);

	font-size: var(--rem-size);

	/**
	 * Enforce a basic font-size similar to frontend. We assume large screens
	 */
	font-size: 24px;

	/**
	 * Grid
	 */
	position: relative;
}

body:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin-left: auto;
		margin-right: auto;
		width: var(--site--width);
		opacity: 0.025;

		--foreground-color: #000;

		background: linear-gradient(90deg,
		var(--foreground-color) var(--column-span-1),
		transparent var(--column-span-1),
		transparent var(--column-gutter-1),
		var(--foreground-color) var(--column-gutter-1),
		var(--foreground-color) var(--column-span-2),
		transparent var(--column-span-2),
		transparent var(--column-gutter-2),
		var(--foreground-color) var(--column-gutter-2),
		var(--foreground-color) var(--column-span-3),
		transparent var(--column-span-3),
		transparent var(--column-gutter-3),
		var(--foreground-color) var(--column-gutter-3),
		var(--foreground-color) var(--column-span-4),
		transparent var(--column-span-4),
		transparent var(--column-gutter-4),
		var(--foreground-color) var(--column-gutter-4),
		var(--foreground-color) var(--column-span-5),
		transparent var(--column-span-5),
		transparent var(--column-gutter-5),
		var(--foreground-color) var(--column-gutter-5),
		var(--foreground-color) var(--column-span-6),
		transparent var(--column-span-6),
		transparent var(--column-gutter-6),
		var(--foreground-color) var(--column-gutter-6),
		var(--foreground-color) var(--column-span-7),
		transparent var(--column-span-7),
		transparent var(--column-gutter-7),
		var(--foreground-color) var(--column-gutter-7),
		var(--foreground-color) var(--column-span-8),
		transparent var(--column-span-8),
		transparent var(--column-gutter-8),
		var(--foreground-color) var(--column-gutter-8),
		var(--foreground-color) var(--column-span-9),
		transparent var(--column-span-9),
		transparent var(--column-gutter-9),
		var(--foreground-color) var(--column-gutter-9),
		var(--foreground-color) var(--column-span-10),
		transparent var(--column-span-10),
		transparent var(--column-gutter-10),
		var(--foreground-color) var(--column-gutter-10),
		var(--foreground-color) var(--column-span-11),
		transparent var(--column-span-11),
		transparent var(--column-gutter-11),
		var(--foreground-color) var(--column-gutter-11),
		var(--foreground-color) var(--column-span-12),
		transparent var(--column-span-12),
		transparent var(--column-gutter-12),
		var(--foreground-color) var(--column-gutter-12)
	);		
	}

/**
 * Add layout for block-containers similar as frontend
 */

.edit-post-visual-editor__post-title-wrapper,
.is-root-container {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--site--width);
	width: 100%;
	/* @mixin clearfix; */
}

/* @mixin remove-first-last-child-margin; */

.edit-post-visual-editor__post-title-wrapper > *, .is-root-container > * {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

@media (min-width: 840px) {

.edit-post-visual-editor__post-title-wrapper > *, .is-root-container > * {
		max-width: var(--column-span-4);
	}
	}

@media (min-width: 1400px) {

.edit-post-visual-editor__post-title-wrapper > *, .is-root-container > * {
		/* margin-left: var(--column-gutter-2); */
		max-width: var(--column-span-8);
	}
	}

@media (min-width: 1920px) {

.edit-post-visual-editor__post-title-wrapper > *, .is-root-container > * {
		/* max-width: var(--column-span-7); */
	}
	}

/**
 * Reset default style for alignfull wrapper around group-block
 */

.block-editor-block-list__layout.is-root-container > .wp-block[data-align="wide"] {
	max-width: none;
	margin-top: var(--space-8);
	margin-bottom: var(--space-8);
}

.block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
	max-width: none;
	width: auto;
	margin-left: 0;
	margin-right: 0;
}

@media (min-width: 1720px) {

.block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
		margin-left: -5vw;
		margin-right: -5vw;
}
	}

@media (min-width: 1920px) {

.block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
		margin-left: -7vw;
		margin-right: -7vw;
}
	}

/**
 * Fix columns block extra margin
 */

.block-editor-block-list__block.wp-block-column:not(:first-child) {
    margin-left: 0;
}