@charset "UTF-8";
/**
 * Settings: Grid
 */
body {
  --grid--column-span--1: var(--grid--column);
  --grid--column-span--2: calc(var(--grid--column) * 2 + var(--grid--gutter) * 1);
  --grid--column-span--3: calc(var(--grid--column) * 3 + var(--grid--gutter) * 2);
  --grid--column-span--4: calc(var(--grid--column) * 4 + var(--grid--gutter) * 3);
  --grid--column-span--5: calc(var(--grid--column) * 5 + var(--grid--gutter) * 4);
  --grid--column-span--6: calc(var(--grid--column) * 6 + var(--grid--gutter) * 5);
  --grid--column-span--7: calc(var(--grid--column) * 7 + var(--grid--gutter) * 6);
  --grid--column-span--8: calc(var(--grid--column) * 8 + var(--grid--gutter) * 7);
  --grid--column-span--9: calc(var(--grid--column) * 9 + var(--grid--gutter) * 8);
  --grid--column-span--10: calc(var(--grid--column) * 10 + var(--grid--gutter) * 9);
  --grid--column-span--11: calc(var(--grid--column) * 11 + var(--grid--gutter) * 10);
  --grid--column-span--12: calc(var(--grid--column) * 12 + var(--grid--gutter) * 11);
  --grid--column-span--13: calc(var(--grid--column) * 13 + var(--grid--gutter) * 12);
  --grid--column-span--14: calc(var(--grid--column) * 14 + var(--grid--gutter) * 13);
  --grid--column-span--15: calc(var(--grid--column) * 15 + var(--grid--gutter) * 14);
  --grid--column-span--16: calc(var(--grid--column) * 16 + var(--grid--gutter) * 15);
  --grid--column-span--17: calc(var(--grid--column) * 17 + var(--grid--gutter) * 16);
  --grid--column-span--18: calc(var(--grid--column) * 18 + var(--grid--gutter) * 17);
  --grid--column-span--19: calc(var(--grid--column) * 19 + var(--grid--gutter) * 18);
  --grid--column-span--20: calc(var(--grid--column) * 20 + var(--grid--gutter) * 19);
  --grid--column-span--21: calc(var(--grid--column) * 21 + var(--grid--gutter) * 20);
  --grid--column-span--22: calc(var(--grid--column) * 22 + var(--grid--gutter) * 21);
  --grid--column-span--23: calc(var(--grid--column) * 23 + var(--grid--gutter) * 22);
  --grid--column-span--24: calc(var(--grid--column) * 24 + var(--grid--gutter) * 23);
  --site--width: 88vw;
  --site--margin: 6vw;
  --grid--column: 88vw;
  --grid--gutter: 0vw;
  --layout--content--size: 100%;
  --layout--content--margin-left: auto;
  --layout--wide--size: 100%;
  --layout--wide--margin-left: auto;
  --layout--full--size: 100%;
  --layout--full--margin-left: calc(var(--site--margin) * -1);
}
@media (min-width: 360px) {
  body {
    --grid--column: 41vw;
    --grid--gutter: 6vw;
  }
}
@media (min-width: 840px) {
  body {
    --site--width: 85vw;
    --site--margin: 7.5vw;
    --grid--column: 10vw;
    --grid--gutter: 5vw;
    --layout--content--size: var(--grid--column-span--4);
  }
}
@media (min-width: 1360px) {
  body {
    --site--width: 1080px;
    --site--margin: auto;
    --grid--column: 35px;
    --grid--gutter: 60px;
    --site--width: 1200px;
    --site--margin: auto;
    --grid--column: 45px;
    --grid--gutter: 60px;
    --layout--content--size: var(--grid--column-span--8);
    --layout--content--margin-left: calc(var(--grid--column-span--2) + var(--grid--gutter));
    --layout--wide--size: var(--grid--column-span--10);
    --layout--wide--margin-left: calc(var(--grid--column-span--1) + var(--grid--gutter));
    --layout--full--size: 100%;
    --layout--full--margin-left: 0;
  }
}
@media (min-width: 1640px) {
  body {
    --site--width: 1452px;
    --grid--column: 3px;
    --grid--gutter: 60px;
    --layout--content--size: var(--grid--column-span--12);
    --layout--content--margin-left: calc(var(--grid--column-span--6) + var(--grid--gutter));
    --layout--wide--size: var(--grid--column-span--18);
    --layout--wide--margin-left: calc(var(--grid--column-span--3) + var(--grid--gutter));
    --layout--full--size: 100%;
    --layout--full--margin-left: 0;
  }
}
@media (min-width: 1920px) {
  body {
    --site--width: 1740px;
    --grid--column: 15px;
    --grid--gutter: 60px;
    --layout--content--size: var(--grid--column-span--12);
    --layout--content--margin-left: calc(var(--grid--column-span--6) + var(--grid--gutter));
    --layout--wide--size: var(--grid--column-span--18);
    --layout--wide--margin-left: calc(var(--grid--column-span--3) + var(--grid--gutter));
    --layout--full--size: 100%;
    --layout--full--margin-left: 0;
  }
}

/**
 * Settings: Typography
 */
body {
  --wp--preset--font-family: unit-rounded, sans-serif;
  --wp--custom--line-height--extra-small: 1;
  --wp--custom--line-height--small: 1.2;
  --wp--custom--line-height--normal: 1.333;
  --wp--custom--line-height--large: 1.5;
}
@media (min-width: 360px) {
  body {
    --wp--preset--font-size--extra-small: 0.777778rem;
    --wp--preset--font-size--small: 0.8889rem;
  }
}
@media (min-width: 1640px) {
  body {
    --wp--preset--font-size--extra-small: 0.75rem;
    --wp--preset--font-size--small: 0.875rem;
    --wp--custom--line-height--normal: 1.4;
  }
}

/**
 * Settings: misc
 */
body {
  --misc--page-image-height: 0px;
  --misc--max-text-width: none;
}

/**
 * Generic: reset
 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
  min-height: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
select,
option,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

article, aside, summary, details, figcaption, figure,
footer, header, main, nav, section {
  display: block;
}

[hidden] {
  display: none;
}

::-moz-placeholder {
  opacity: 1;
}

/**
 * Generic: base
 */
html {
  font-size: var(--rem-size);
}

body {
  font-size: var(--wp--preset--font-size--normal);
  font-family: var(--wp--preset--font-family);
  line-height: var(--wp--custom--line-height--normal);
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--secondary);
}

h6,
h5,
h4,
h3,
h2,
h1 {
  font-weight: bold;
  font-style: normal;
  overflow-wrap: break-word;
  text-transform: uppercase;
  max-width: var(--misc--max-text-width);
}

h6,
h5,
h4,
h3 {
  font-size: var(--wp--preset--font-size--normal);
  line-height: var(--wp--custom--line-height--small);
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: var(--wp--preset--font-size--extra-large);
  line-height: var(--wp--custom--line-height--extra-small);
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: var(--wp--preset--font-size--gigantic);
  line-height: var(--wp--custom--line-height--extra-small);
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: calc(var(--misc--max-text-width) * 1.25);
}

p {
  margin-bottom: 2rem;
  max-width: var(--misc--max-text-width);
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
}
a:hover, a:active {
  outline: 0;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

ul, ol {
  padding-left: 1.1em;
  margin-left: 0;
  margin-bottom: 2rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 2rem;
}

th,
td {
  border-width: 1px;
  text-align: left;
  vertical-align: top;
}

hr {
  color: currentColor;
  border: 0;
  border-bottom-width: var(--ui-border-width);
  border-color: currentColor;
  border-style: solid;
  clear: both;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

pre {
  white-space: pre-wrap;
  margin-bottom: 2rem;
}

blockquote {
  margin-bottom: 2rem;
}
blockquote > *:last-child {
  margin-bottom: 0;
}
blockquote cite {
  font-style: normal;
  max-width: var(--misc--max-text-width);
}
blockquote cite:before {
  content: "—";
  margin-right: 0.25em;
}

img,
figure,
audio,
video,
object,
embed,
iframe {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

figure,
audio,
video,
object,
embed,
iframe {
  display: block;
}

figure {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

figure img {
  display: block;
}

figure > * {
  margin-bottom: 0;
}

figcaption {
  margin-top: 0.75rem;
  font-size: var(--wp--preset--font-size--extra-small);
  line-height: var(--wp--custom--line-height--extra-small);
}

svg {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  position: relative;
  top: -0.0625em;
  vertical-align: middle;
  width: 1em;
}

textarea {
  display: block;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea,
select {
  background-color: transparent;
  border: var(--ui-border-width) var(--ui-border-style) var(--foreground-color);
  border-radius: 0;
  font-size: var(--wp--preset--font-size--small);
  padding: 0.25rem 0.25rem;
  width: 100%;
  transition: border-color var(--transition-fast);
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=url]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
input[type=number]::placeholder,
input[type=tel]::placeholder,
input[type=range]::placeholder,
input[type=date]::placeholder,
input[type=month]::placeholder,
input[type=week]::placeholder,
input[type=time]::placeholder,
input[type=datetime]::placeholder,
input[type=datetime-local]::placeholder,
input[type=color]::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--ui-color);
  font-style: italic;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus,
select:focus {
  outline: 2px solid transparent;
}
input[type=text]:hover, input[type=text]:focus,
input[type=email]:hover,
input[type=email]:focus,
input[type=url]:hover,
input[type=url]:focus,
input[type=password]:hover,
input[type=password]:focus,
input[type=search]:hover,
input[type=search]:focus,
input[type=number]:hover,
input[type=number]:focus,
input[type=tel]:hover,
input[type=tel]:focus,
input[type=range]:hover,
input[type=range]:focus,
input[type=date]:hover,
input[type=date]:focus,
input[type=month]:hover,
input[type=month]:focus,
input[type=week]:hover,
input[type=week]:focus,
input[type=time]:hover,
input[type=time]:focus,
input[type=datetime]:hover,
input[type=datetime]:focus,
input[type=datetime-local]:hover,
input[type=datetime-local]:focus,
input[type=color]:hover,
input[type=color]:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  border-color: var(--ui-color);
}

label {
  display: block;
}

input[type=checkbox],
input[type=radio] {
  margin-right: 0.25em;
  line-height: var(--wp--custom--line-height--small);
}
input[type=checkbox] + label,
input[type=radio] + label {
  display: inline;
  font-size: var(--wp--preset--font-size--small);
  line-height: var(--wp--custom--line-height--small);
}

input[type=submit] {
  background-color: transparent;
  border: 0;
}

button,
input[type=submit] {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  line-height: var(--wp--custom--line-height--small);
  /* font-size: var(--wp--preset--font-size--small);
  text-transform: uppercase; */
  display: inline-block;
  cursor: pointer;
  border: var(--ui-border-width) var(--ui-border-style) var(--foreground-color);
  padding: 0.25rem;
  transition: border-color var(--transition-fast);
  position: relative;
}
button:hover, button:focus, button:active,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active {
  text-decoration: underline;
  text-decoration-thickness: var(--ui-border-width);
}

/**
 * Block: Core/Columns
 */
.wp-block-columns {
  display: grid;
  grid-column-gap: var(--grid--gutter);
  column-gap: var(--grid--gutter);
  grid-row-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: 1fr;
}
@media (min-width: 600px) {
  .wp-block-columns {
    grid-template-columns: 1fr 1fr;
  }
}
.wp-block-columns.is-style-columns-1 {
  grid-template-columns: 1fr;
}
@media (min-width: 1080px) {
  .wp-block-columns.is-style-columns-3, .wp-block-columns.is-style-columns-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1640px) {
  .wp-block-columns.is-style-columns-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1360px) {
  .wp-block-columns.alignwide, .wp-block-columns.alignfull {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.block-editor-block-list__block.wp-block-column > *:first-child,
.wp-block-column > *:first-child {
  margin-top: 0;
}
.block-editor-block-list__block.wp-block-column > *:last-child,
.wp-block-column > *:last-child {
  margin-bottom: 0;
}
.block-editor-block-list__block.wp-block-column:not(:first-child),
.wp-block-column:not(:first-child) {
  margin-left: 0;
}

/**
 * Block: Core/Group
 */
.wp-block-group {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 840px) {
  .wp-block-group {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 1360px) {
  .wp-block-group.alignwide, .wp-block-group.alignfull {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
.wp-block-group.has-background {
  overflow-y: hidden;
}
.wp-block-group.has-background > .wp-block-group__inner-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.wp-block-group.has-background > .wp-block-group__inner-container > * {
  width: var(--layout--content--size);
  margin-left: var(--layout--content--margin-left);
  margin-right: auto;
}
.wp-block-group.has-background > .wp-block-group__inner-container > .alignwide {
  width: var(--layout--wide--size);
  margin-left: var(--layout--wide--margin-left);
}
.wp-block-group.has-background > .wp-block-group__inner-container > .alignfull {
  width: auto;
  min-width: var(--layout--full--size);
  margin-left: var(--layout--full--margin-left);
  margin-right: var(--layout--full--margin-left);
  padding-left: var(--site--margin);
  padding-right: var(--site--margin);
}

.wp-block-group.has-background > .wp-block[data-align=wide], .wp-block-group.has-background > .wp-block-group__inner-container > .wp-block[data-align=wide] {
  width: var(--layout--wide--size);
  margin-left: var(--layout--wide--margin-left);
}
.wp-block-group.has-background > .wp-block[data-align=full], .wp-block-group.has-background > .wp-block-group__inner-container > .wp-block[data-align=full] {
  width: auto;
  min-width: var(--layout--full--size);
  margin-left: var(--layout--full--margin-left);
  margin-right: var(--layout--full--margin-left);
  padding-left: var(--site--margin);
  padding-right: var(--site--margin);
}

body {
  --site--width: 960px;
  --site--margin: auto;
  --grid--column: 36px;
  --grid--gutter: 48px;
  --layout--content--size: var(--grid--column-span--8);
  --layout--content--margin-left: calc(var(--grid--column-span--2) + var(--grid--gutter));
  --layout--wide--size: var(--grid--column-span--10);
  --layout--wide--margin-left: calc(var(--grid--column-span--1) + var(--grid--gutter));
  --layout--full--size: 100%;
  --layout--full--margin-left: 0;
  --rem-size: 150%;
}
@media (min-width: 1920px) {
  body {
    --site--width: 1260px;
    --grid--column: 18px;
    --grid--gutter: 36px;
    --layout--content--size: var(--grid--column-span--12);
    --layout--content--margin-left: calc(var(--grid--column-span--6) + var(--grid--gutter));
    --layout--wide--size: var(--grid--column-span--18);
    --layout--wide--margin-left: calc(var(--grid--column-span--3) + var(--grid--gutter));
  }
}

body {
  font-size: var(--rem-size);
  position: relative;
}
body:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: var(--site--width);
  opacity: 0.025;
  background: linear-gradient(90deg, var(--wp--preset--color--secondary) var(--grid--column-span--1), transparent var(--grid--column-span--1), transparent calc( var(--grid--column-span--1) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--1) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--2), transparent var(--grid--column-span--2), transparent calc( var(--grid--column-span--2) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--2) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--3), transparent var(--grid--column-span--3), transparent calc( var(--grid--column-span--3) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--3) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--4), transparent var(--grid--column-span--4), transparent calc( var(--grid--column-span--4) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--4) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--5), transparent var(--grid--column-span--5), transparent calc( var(--grid--column-span--5) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--5) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--6), transparent var(--grid--column-span--6), transparent calc( var(--grid--column-span--6) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--6) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--7), transparent var(--grid--column-span--7), transparent calc( var(--grid--column-span--7) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--7) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--8), transparent var(--grid--column-span--8), transparent calc( var(--grid--column-span--8) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--8) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--9), transparent var(--grid--column-span--9), transparent calc( var(--grid--column-span--9) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--9) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--10), transparent var(--grid--column-span--10), transparent calc( var(--grid--column-span--10) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--10) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--11), transparent var(--grid--column-span--11), transparent calc( var(--grid--column-span--11) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--11) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--12), transparent var(--grid--column-span--12), transparent calc( var(--grid--column-span--12) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--12) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--13), transparent var(--grid--column-span--13), transparent calc( var(--grid--column-span--13) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--13) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--14), transparent var(--grid--column-span--14), transparent calc( var(--grid--column-span--14) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--14) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--15), transparent var(--grid--column-span--15), transparent calc( var(--grid--column-span--15) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--15) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--16), transparent var(--grid--column-span--16), transparent calc( var(--grid--column-span--16) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--16) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--17), transparent var(--grid--column-span--17), transparent calc( var(--grid--column-span--17) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--17) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--18), transparent var(--grid--column-span--18), transparent calc( var(--grid--column-span--18) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--18) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--19), transparent var(--grid--column-span--19), transparent calc( var(--grid--column-span--19) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--19) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--20), transparent var(--grid--column-span--20), transparent calc( var(--grid--column-span--20) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--20) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--21), transparent var(--grid--column-span--21), transparent calc( var(--grid--column-span--21) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--21) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--22), transparent var(--grid--column-span--22), transparent calc( var(--grid--column-span--22) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--22) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--23), transparent var(--grid--column-span--23), transparent calc( var(--grid--column-span--23) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--23) + var(--grid--gutter) ), var(--wp--preset--color--secondary) var(--grid--column-span--24), transparent var(--grid--column-span--24), transparent calc( var(--grid--column-span--24) + var(--grid--gutter) ), var(--wp--preset--color--secondary) calc( var(--grid--column-span--24) + var(--grid--gutter) ));
}

.wp-block[data-align=wide],
.wp-block[data-align=full],
.wp-block {
  max-width: none;
}

.edit-post-visual-editor__post-title-wrapper,
.is-root-container {
  width: var(--site--width);
  margin-left: auto;
  margin-right: auto;
}
.edit-post-visual-editor__post-title-wrapper > *,
.is-root-container > * {
  width: var(--layout--content--size);
  margin-left: var(--layout--content--margin-left);
  margin-right: auto;
}
.edit-post-visual-editor__post-title-wrapper > [data-align=wide],
.is-root-container > [data-align=wide] {
  width: var(--layout--wide--size);
  margin-left: var(--layout--wide--margin-left);
}
.edit-post-visual-editor__post-title-wrapper > [data-align=full],
.is-root-container > [data-align=full] {
  width: auto;
  min-width: var(--layout--full--size);
  margin-left: var(--layout--full--margin-left);
  margin-right: var(--layout--full--margin-left);
  padding-left: var(--site--margin);
  padding-right: var(--site--margin);
}

.block-editor-block-list__layout.is-root-container > .wp-block[data-align=wide] {
  width: var(--layout--wide--size);
  margin-left: var(--layout--wide--margin-left);
}

.block-editor-block-list__layout.is-root-container > .wp-block[data-align=full] {
  width: auto;
  min-width: var(--layout--full--size);
  margin-left: var(--layout--full--margin-left);
  margin-right: var(--layout--full--margin-left);
  padding-left: var(--site--margin);
  padding-right: var(--site--margin);
}

h1.has-background,
h2.has-background,
h3.has-background,
h4.has-background,
h5.has-background,
h6.has-background {
  padding: 0;
}
