/**
 * Editor stylesheet for the theme.
 *
 * Theme styles follow http://cssguidelin.es/ and are organized according to
 * Inverted Triangle CSS (ITCSS) principles put forth by Harry Roberts. In
 * short, each layer of CSS gets more specific as you move down this page.
 */

/*--------------------------------------------------------------
# Settings - Global variables, config switches.
--------------------------------------------------------------*/

/**
 * Media Queries / Breakpoints.
 *
 * Mobile first, so we start with general styles which apply to every screensize and change it going up the breakpoints.
 *
 * Special helpers:
 * - mobile xs: for very small screens. You can see it as "only breakpoint 0".
 * - mobile: usually the breakpoint where we expect touch screens. So different navigations.
 * - desktop: large screens.
 *
 * Has connection with site layout. See settings/spacing.css
 */

/**
 * Special helpers
 *
 * - Columns
 * - Devices
 */

/**
 * Load font faces
 */

/* Use values with units as much as you can because of performance impact calculating the unit */

:root {

	--rem-size: 100%; /* 16 */

	/* Typography */
	--font-1-family: unit-rounded, sans-serif;
	--font-1-line-height: 1.333;

	/* Font Sizes */
	--font-size--min: 0.875rem;
	--font-size--sm: 0.875rem;
	--font-size--base: 1rem;
	--font-size--lg: 1.1rem;
	--font-size--xl: 1.25rem;
	--font-size--2xl: 1.375rem;
	--font-size--3xl: 1.5rem;
	--font-size--max: 1.5rem;

	/* Utility Mapping */
	--font-size--site-nav: var(--font-size--xl);
	--font-size--site-nav-toggle: var(--font-size--2xl);
	--font-size--label: var(--font-size--min);
	--font-size--meta: var(--font-size--sm);
	--font-size--h3: var(--font-size--base);
	--font-size--h2: var(--font-size--xl);
	--font-size--h1: var(--font-size--max);

	/* Line heights */
	--line-height--xs: 1;
	--line-height--sm: 1.2;
	--line-height--md: 1.5;
}

@media (min-width: 360px) {
	}

@media (min-width: 600px) {

:root {
		--rem-size: 112.5%;

		--font-size--min: 0.75rem;
		--font-size--sm: 0.85rem;
		--font-size--3xl: 2rem;
		--font-size--max: 2rem;

		--font-size--h2: var(--font-size--2xl)
}
	}

@media (min-width: 840px) {

:root {
		--rem-size: 118.75%
}
	}

@media (min-width: 1080px) {

:root {
		--rem-size: 125%;
		--font-size--min: 0.675rem;
		--font-size--sm: 0.8125rem;
		--font-size--2xl: 1.5rem;
		--font-size--max: 2.5rem
}
	}

@media (min-width: 1400px) {
	}

@media (min-width: 1720px) {

:root {
		--rem-size: 150%;
		--font-size--min: 0.625rem
}
	}

@media (--from-breakpoint-7) {
	}

/**
 * Spacing
 *
 * Site width, columns and gutters. Also vertical rhythm.
 *
 * - Mobile first
 * - we start with one column and increase it throughout the breakpoints.
 * - The last breakpoint has fixed sizes so we can box the layout
 *
 * For the breakpoint timings: see settings/media-queries.css.
 */

:root {
	--space-1: 0.25rem;
	--space-2: 0.5rem;
	--space-3: 0.75rem;
	--space-4: 1rem;
	--space-5: 1.25rem;
	--space-6: 1.5rem;
	--space-8: 2rem;
	--space-10: 2.5rem;
	--space-12: 3rem;
	--space-16: 4rem;
	--space-20: 5rem;

	--column-span-1: var(--column);
	--column-span-2: calc(var(--column) * 2 + var(--gutter) * 1);
	--column-span-3: calc(var(--column) * 3 + var(--gutter) * 2);
	--column-span-4: calc(var(--column) * 4 + var(--gutter) * 3);
	--column-span-5: calc(var(--column) * 5 + var(--gutter) * 4);
	--column-span-6: calc(var(--column) * 6 + var(--gutter) * 5);
	--column-span-7: calc(var(--column) * 7 + var(--gutter) * 6);
	--column-span-8: calc(var(--column) * 8 + var(--gutter) * 7);
	--column-span-9: calc(var(--column) * 9 + var(--gutter) * 8);
	--column-span-10: calc(var(--column) * 10 + var(--gutter) * 9);
	--column-span-11: calc(var(--column) * 11 + var(--gutter) * 10);
	--column-span-12: calc(var(--column) * 12 + var(--gutter) * 11);

	--site--width:   88vw;
	--site--padding: 6vw;

	/* One column */
	--column: 88vw;
	--gutter: 0vw;

	/* Column & gutter shortcuts */
	--column-span-1: var(--column);
	--column-span-2: calc(var(--column) * 2 + var(--gutter) * 1);
	--column-span-3: calc(var(--column) * 3 + var(--gutter) * 2);
	--column-span-4: calc(var(--column) * 4 + var(--gutter) * 3);
	--column-span-5: calc(var(--column) * 5 + var(--gutter) * 4);
	--column-span-6: calc(var(--column) * 6 + var(--gutter) * 5);
	--column-span-7: calc(var(--column) * 7 + var(--gutter) * 6);
	--column-span-8: calc(var(--column) * 8 + var(--gutter) * 7);
	--column-span-9: calc(var(--column) * 9 + var(--gutter) * 8);
	--column-span-10: calc(var(--column) * 10 + var(--gutter) * 9);
	--column-span-11: calc(var(--column) * 11 + var(--gutter) * 10);
	--column-span-12: calc(var(--column) * 12 + var(--gutter) * 11);

	--column-gutter-1: calc(var(--column) * 1 + var(--gutter) * 1);
	--column-gutter-2: calc(var(--column) * 2 + var(--gutter) * 2);
	--column-gutter-3: calc(var(--column) * 3 + var(--gutter) * 3);
	--column-gutter-4: calc(var(--column) * 4 + var(--gutter) * 4);
	--column-gutter-5: calc(var(--column) * 5 + var(--gutter) * 5);
	--column-gutter-6: calc(var(--column) * 6 + var(--gutter) * 6);
	--column-gutter-7: calc(var(--column) * 7 + var(--gutter) * 7);
	--column-gutter-8: calc(var(--column) * 8 + var(--gutter) * 8);
	--column-gutter-9: calc(var(--column) * 9 + var(--gutter) * 9);
	--column-gutter-10: calc(var(--column) * 10 + var(--gutter) * 10);
	--column-gutter-11: calc(var(--column) * 11 + var(--gutter) * 11);
	--column-gutter-12: calc(var(--column) * 12 + var(--gutter) * 12);
}

@media (min-width: 360px) {

:root {

    	/* Two columns */
    	--column:        41vw;
		--gutter:        6vw
}
    }

@media (min-width: 840px) {

:root {

		--site--width:   85vw;
		--site--padding: 7.5vw;

    	/* Six columns */
		--column:        10vw;
		--gutter:        5vw
}
    }

@media (min-width: 1400px) {

:root {

    	/* Twelve columns */
		--column:        2.5vw;
		--gutter:        5vw
}
    }

@media (min-width: 1720px) {

:root {

    	/* Fixed sizes */
		--site--width:   1380px;
		--site--padding: 90px;

    	--column: 71px; /* 60 71 82 */
		--gutter: 48px /* 60 48 36 */
}
    }

/* :root {
	--column        : 85vw;
	--gutter        : 0vw;
	--column-gutter : 85vw;

	--column-span-1: var(--column);

	--site--width         : 85vw;
	--site--padding       : 0vw;
	--page--width         : var(--site--width);
	--page-content--width : var(--site--width);

	--row: 8px; 

	@media (--from-breakpoint-1) {
		--column        : 40vw;
		--gutter        : 6vw;
		--column-gutter : 46vw;

		--column-span-1: var(--column);
		--column-span-2: calc(var(--column) * 2 + var(--gutter) * 1);

		--site--width   : 86vw;
    }

    @media (--from-breakpoint-2) {
		--column        : 17.5vw;
		--gutter        : 5vw;
		--column-gutter : 22.5vw;

		--column-span-1: var(--column);
		--column-span-2: calc(var(--column) * 2 + var(--gutter) * 1);
		--column-span-3: calc(var(--column) * 3 + var(--gutter) * 2);
		--column-span-4: calc(var(--column) * 4 + var(--gutter) * 3);

		--site--width   : 85vw;
    }

    @media (--from-breakpoint-3) {
		--column        : 6.5vw;
		--gutter        : 5vw;
		--column-gutter : 11.5vw;

		--row: 12px;

		--column-span-1: var(--column);
		--column-span-2: calc(var(--column) * 2 + var(--gutter) * 1);
		--column-span-3: calc(var(--column) * 3 + var(--gutter) * 2);
		--column-span-4: calc(var(--column) * 4 + var(--gutter) * 3);
		--column-span-5: calc(var(--column) * 5 + var(--gutter) * 4);
		--column-span-6: calc(var(--column) * 6 + var(--gutter) * 5);
		--column-span-7: calc(var(--column) * 7 + var(--gutter) * 6);
		--column-span-8: calc(var(--column) * 8 + var(--gutter) * 7);

		--site--width         : 87vw;
		--page-content--width : var(--column-span-6);
    }

    @media (--from-breakpoint-4) {
		--row: 12px;

		--page-content--width : var(--column-span-5);
    }

	@media (--from-breakpoint-5) {
		--column        : 98px;
		--gutter        : 56px;
		--column-gutter : 154px;

		--site--width   : 1176px;
		--site--padding : 56px;
    }

    @media (--from-breakpoint-6) {
    	--column        : 120px;
		--gutter        : 60px;
		--column-gutter : 180px;

		--row: 16px;

		--site--padding : 90px;
		--site--width   : 1380px;

		--page-content--width : var(--column-span-5);
    }
} */

:root {

	/**
	 * Color library
	 *
	 * We define them in theme-support colors function in php, but we
	 * also define fallback colors here for when they are missing out.
	 */
	--wp--preset--color--primary-1: #FFF7D6;
	--wp--preset--color--secondary-1: #000000;

	/**
	 * Assign colors
	 */
	--background-color: var(--wp--preset--color--primary-1);
	--foreground-color: var(--wp--preset--color--secondary-1);

	/* --ui-color: var(--wp--preset--color--secondary-1); */

	/* @media screen and (prefers-color-scheme: dark) {
		--background-color: var(--wp--preset--color--secondary-1);
		--foreground-color: var(--wp--preset--color--primary-1);
		--ui-color: var(--wp--preset--color--primary-1);
	} */
}

:root {
	--transition: 200ms ease-in-out 0s;
	--transition-fast: 100ms ease-in-out 0s;
}

:root {

	--button-border-width: 6px;

	--ui-border-width: 2px;
	--ui-border-style: solid;
}

/*--------------------------------------------------------------
# Tools - Default mixins and functions.
--------------------------------------------------------------*/

/* Mixins are predefined css, usable anywhere in the stylesheets */

/* ===============
 * Helpers
 * =============== */

/* ===============
 * Structure
 * =============== */

/* 
@define-mixin site--padding {
	padding-left: var(--site--padding);
	padding-right: var(--site--padding);
}

@define-mixin container--page {
	margin-left: auto;
    margin-right: auto;
	width: var(--page--width);
}

@define-mixin container--page--full-site {
	margin-left: calc(50% - 50vw + var(--site--padding));
	margin-right: calc(50% - 50vw + var(--site--padding));
	width: auto;
}

@define-mixin container--page-content {
	margin-left: auto;
	margin-right: auto;
	width: var(--page-content--width);

	@media (--from-breakpoint-3) {
		margin-left: calc(var(--column-gutter) * 1);
	}
}

@define-mixin container--page-content--full-page {
	@media (--grid-columns-8) {
		margin-left: calc(var(--column-gutter) * -1);
		margin-right: calc(var(--column-gutter) * -1);
		width: var(--page--width);
	}

	@media (--from-breakpoint-4) {
		margin-right: calc(var(--column-gutter) * -2);
	}
}

@define-mixin container--page-content--full-site {
	margin-left: calc(50% - 50vw + var(--site--padding));
	margin-right: calc(50% - 50vw + var(--site--padding));
	width: auto;

	@media (--from-breakpoint-4) {
		margin-left: calc(50% - 50vw + (var(--column-gutter) / 2) + var(--site--padding));
		margin-right: calc(50% - 50vw - (var(--column-gutter) / 2) + var(--site--padding));
	}
}

@define-mixin container--page-content--right {

	@media (--from-breakpoint-1) {
		float: right;
		margin-bottom: var(--space-3);
		margin-left: var(--gutter);
		max-width: var(--column-span-1);
	}

	@media (--grid-columns-4) {
		max-width: var(--column-span-2);
	}

	@media (--grid-columns-8) {
		margin-right: calc(var(--column-gutter) * -1);
		max-width: var(--column-span-3);
	}
}

@define-mixin container--page-content--left {

	@media (--from-breakpoint-1) {
		float: left;
		margin-bottom: var(--space-3);
		margin-right: var(--gutter);
		max-width: var(--column-span-1);
	}

	@media (--grid-columns-4) {
		max-width: var(--column-span-2);
	}

	@media (--grid-columns-8) {
		max-width: var(--column-span-3);
	}
} */

/* Collapse vertical margin */

/* @define-mixin margin-collapse-fix {
    overflow-y: hidden;
} */

/* Vertical spacing */

/* @define-mixin vertical-spacing {
    margin-bottom: var(--space-3);
} */

/* @define-mixin full-page-content-overflow-fix {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}
 */

/** Editor structure helpers */

/* @define-mixin editor-page-content--full-site {
	margin-left: -5vw;
	margin-right: -5vw;

	@media (--from-breakpoint-3) {
		margin-left: calc(var(--gutter) * -1);
		margin-right: calc(var(--gutter) * -1);
	}
} */

/* ===============
 * Typography
 * =============== */

/* ===============
 * Links
 * =============== */

/* ===============
 * Buttons
 * =============== */

/* ===============
 * Other
 * =============== */

/* Grid fallback for IE11 */

/* Grid fallback for IE11 */

/** IE11 target: _:-ms-fullscreen, :root .ie11up */

/* ===============
 * Development
 * =============== */

/* ===============
 * Development
 * =============== */

/* Mixins: Structure */

/* Mixins are predefined css, usable anywhere in the stylesheets */

/* ---- */

/* ---- */

/* Collapse vertical margin */

/* Clearfix for floating */

/** Editor structure helpers */

/* Fix fullscreen in editor */

/*--------------------------------------------------------------
# Generic - Ground-zero styles (resets, box-sizing, etc.).
--------------------------------------------------------------*/

/* @import "generic/reset.css";
@import "generic/base.css"; */

/*--------------------------------------------------------------
# Structure - 
--------------------------------------------------------------*/

/* @import "structure/root.css";
@import "structure/site.css";
@import "structure/site-header.css";
@import "structure/site-main.css";
@import "structure/site-footer.css";
@import "structure/page.css";
@import "structure/page-header.css";
@import "structure/page-main.css";
@import "structure/page-footer.css";
@import "structure/page-comments.css"; */

/*--------------------------------------------------------------
# Blocks - editor related styles.
--------------------------------------------------------------*/

/* @import "blocks/core/button.css";
@import "blocks/core/code.css";
@import "blocks/core/cover.css";
@import "blocks/core/columns.css";
@import "blocks/core/gallery.css";
@import "blocks/core/image.css";
@import "blocks/core/media-text.css";
@import "blocks/core/pullquote.css";
@import "blocks/core/quote.css";
@import "blocks/core/separator.css";
@import "blocks/core/table.css"; */

/**
 * A card block for this theme
 *
 * Elements
 * &__inner
 * &__image
 * &__title
 * &__text
 */

.wbl-card__heading {
		font-size: var(--font-size--lg);
		margin-bottom: var(--space-3);
		margin-top: 0;
	}

.wbl-card__image {
		margin-bottom: var(--space-3);
	}

.wbl-card__text *:last-child {
			margin-bottom: 0;
		}

/* Editor */

.is-root-container [data-type="wbl-theme/card"] .wbl-card {
	}

/**
 * A generic container segment for this theme
 *
 * Elements
 * &__inner
 * &__header
 * &__content // main
 *
 * Modifiers
 * &--two-column-text
 * &--blog
 * &--call-to-action
 */

.wbl-segment {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--site--width);
	width: 100%;
	--foreground-color: inherit;
	--background-color: transparent;

	background-color: var(--background-color);
	color: var(--foreground-color);
	border-color: var(--foreground-color);
	margin-top: var(--space-8);
	margin-bottom: var(--space-8);
}

.wbl-segment__inner:after {
	  content: "";
	  display: table;
	  clear: both;
	}

.wbl-segment__inner > *:first-child { margin-top: 0; }

.wbl-segment__inner > *:last-child { margin-bottom: 0; }

.wbl-segment__inner > * {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: var(--column-span-6);
	}

@media (min-width: 1400px) {

.wbl-segment__inner > * {
		max-width: var(--column-span-8);
	}
	}

.wbl-segment__title:not(h1) {
			font-size: var(--font-size--lg);
			margin-top: var(--space-6);
			margin-bottom: var(--space-4);
		}

@media (min-width: 840px) {

.wbl-segment__title {
			margin-right: calc(var(--column-gutter) * 2)
	}
		}

.wbl-segment__content {
		display: grid;
		grid-column-gap: var(--gutter);
		column-gap: var(--gutter);
		grid-row-gap: var(--space-3);
		row-gap: var(--space-3);
		grid-template-columns: 1fr;
	}

.wbl-segment__content > * {
			margin-bottom: 0;
			width: 100%;
		}

/** Media Queries */

@media (min-width: 1080px) {

.wbl-segment {
		margin-top: var(--space-10);
		margin-bottom: var(--space-10)
}
	}

/**
 	 * Two Column Text
 	 */

.wbl-segment--two-column-text {

	}

/** Additional and modifying classes */

.wbl-segment--two-column-text h1.wbl-segment__title {
	}

@media (min-width: 600px) {

.wbl-segment--two-column-text .wbl-segment__content {
			grid-template-columns: 1fr 1fr;
			/* IE11: Grid fallback */
			column-count: 2
	}
			.wbl-segment--two-column-text .wbl-segment__content > * {
		/* IE11: Grid fallback */
		break-inside: avoid-column;
	}
		}

/**
	 * Portfolio / Recent werk
	 */

.wbl-segment--portfolio {
		overflow-y: hidden;
		--background-color: var(--wp--preset--color--secondary-1);
		--foreground-color: var(--wp--preset--color--primary-1);
		margin-top: var(--space--1);
	}

.wbl-segment--portfolio .wbl-segment__inner {
		margin-top: var(--space-6);
		margin-bottom: var(--space-6);
	}

.wbl-segment--portfolio .wbl-segment__content {
		grid-row-gap: var(--space-6);
		row-gap: var(--space-6);
	}

@media (min-width: 600px) {

.wbl-segment--portfolio .wbl-segment__content {
			grid-template-columns: 1fr 1fr;
			/* IE11: Grid fallback */
			column-count: 2
	}
			.wbl-segment--portfolio .wbl-segment__content > * {
		/* IE11: Grid fallback */
		break-inside: avoid-column;
	}
		}

@media (min-width: 1080px) {

.wbl-segment--portfolio .wbl-segment__content {
			grid-template-columns: 1fr 1fr 1fr 1fr
	}

			.wbl-segment--portfolio .wbl-segment__content .wbl-simple-image {
				grid-column: 1 / 4;
			}
		}

/**
	 * Blog
	 */

.wbl-segment--blog {
		margin-top: var(--space-8);
		margin-bottom: var(--space-10);
	}

.wbl-segment--blog .posts {
			margin: 0;
		}

.wbl-segment--blog .wbl-segment__heading {
		margin-bottom: 0;
	}

/**
	 * Featured four
	 */

.wbl-segment--featured-four {}

.wbl-segment--featured-four .wbl-segment__content {
		grid-row-gap: var(--space-6);
		row-gap: var(--space-6);
	}

.wbl-segment--featured-four .wbl-segment__content .wbl-card__image-container {
			padding-right: var(--gutter);
		}

.wbl-segment--featured-four .wbl-segment__content .wbl-card__image {
			width: 240px;
		}

@media (min-width: 360px) {

.wbl-segment--featured-four .wbl-segment__content {
			grid-template-columns: 1fr 1fr;
			/* IE11: Grid fallback */
			column-count: 2
	}
			.wbl-segment--featured-four .wbl-segment__content > * {
		/* IE11: Grid fallback */
		break-inside: avoid-column;
	}
		}

@media (min-width: 840px) {

.wbl-segment--featured-four .wbl-segment__content {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			/* IE11: Grid fallback */
			column-count: 4
	}
			.wbl-segment--featured-four .wbl-segment__content > * {
		/* IE11: Grid fallback */
		break-inside: avoid-column;
	}
		}

/**
	 * Companiees
	 */

.wbl-segment--companies .wbl-segment__content {
	 	display: flex;
	 	grid-column-gap: normal;
	 	column-gap: normal;
	 	grid-row-gap: normal;
	 	row-gap: normal;
		flex-wrap: wrap;
		align-items: center;
		margin: var(--space--1) var(--space--1);
		margin-bottom: 0;
	}

.wbl-segment--companies .wbl-segment__content figure {
			flex: 0 1 auto;
			width: auto;
			margin: var(--space-1) var(--space-1);
		}

.wbl-segment--companies .wbl-segment__content img {
			max-height: 40px;
		}

@media (min-width: 600px) {

.wbl-segment--companies .wbl-segment__content {
			margin-left: var(--space--2);
			margin-right: var(--space--2)
	}

			.wbl-segment--companies .wbl-segment__content figure {
				margin-left: var(--space-2);
				margin-right: var(--space-2);
			}

			.wbl-segment--companies .wbl-segment__content img {
				max-height: 60px;
			}
		}

@media (min-width: 1400px) {

			.wbl-segment--companies .wbl-segment__content img {
				max-height: 84px;
			}
		}

/* Editor */

.is-root-container [data-type="wbl-theme/segment"] {
	box-shadow: inset 0 0 0 1px var(--editor-container--ui-color);
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment {
		margin: 0;
	}

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment__heading {
		margin-bottom: 0;
	}

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment__content {
		display: block;
		column-count: auto;
	}

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: grid;
		grid-column-gap: var(--gutter);
		column-gap: var(--gutter);
		grid-row-gap: var(--space-3);
		row-gap: var(--space-3);
		grid-template-columns: 1fr;
	}

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
			margin-bottom: 0;
			margin-left: 0;
			width: 100%;
		}

@media (min-width: 600px) {

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--two-column-text .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 1fr 1fr;
			/* IE11: Grid fallback */
			column-count: 2
	}
			.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--two-column-text .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
		/* IE11: Grid fallback */
		break-inside: avoid-column;
	}
		}

@media (min-width: 600px) {

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--featured-four .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 1fr 1fr;
			/* IE11: Grid fallback */
			column-count: 2
	}
			.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--featured-four .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
		/* IE11: Grid fallback */
		break-inside: avoid-column;
	}
		}

@media (min-width: 1080px) {

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--featured-four .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 1fr 1fr 1fr 1fr
	}
		}

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--portfolio {
		margin-left: auto;
		margin-right: auto;
		width: auto;
	}

@media (min-width: 600px) {

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--portfolio .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 1fr 1fr;
			/* IE11: Grid fallback */
			column-count: 2
	}
			.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--portfolio .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
		/* IE11: Grid fallback */
		break-inside: avoid-column;
	}
		}

@media (min-width: 1080px) {

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--portfolio .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 1fr 1fr 1fr 1fr
	}

			.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--portfolio .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout [data-type="wbl-theme/simple-image"] {
				grid-column: 1 / 4;
			}
		}

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--call-to-action {
		margin-left: auto;
		margin-right: auto;
		width: auto;
	}

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--companies .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: var(--space--1) var(--space--2);
	}

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--companies .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
			flex: 0 1 auto;
			width: auto;
			margin-top: var(--space-1);
			margin-bottom: var(--space-1);
			margin-left: var(--space-2);
			margin-right: var(--space-2);
		}

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--companies .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout > * .wbl-simple-image {
				margin: 0;
			}

.is-root-container [data-type="wbl-theme/segment"] .wbl-segment--companies .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout > * img {
				max-height: 84px;
			}

/**
 * A generic simple container for this theme
 */

.wbl-simple-container {

}

/* Editor */

.is-root-container [data-type="wbl-theme/simple-container"] {

}

/**
 * A simple image block for this theme
 *
 * Elements
 * img
 */

.wbl-simple-image {

}

/* Editor */

.is-root-container [data-type="wbl-theme/simple-image"] .wbl-simple-image {
		margin: 0;
	}

/* Maybe put in :root to create specificity */

/*
Moeten kleuren altijd doorlekken naar onderliggende elementen?
- Paragraaf: ja
- Cover: ja
- Groep: ja
- inline: ja

Geldt dit ook voor background-color? Je zou zeggen van niet, maar bij het cover-block lekt het door naar de ::before.
*/

/* Background colors */

.has-primary-1-background-color {
	--background-color: var(--wp--preset--color--primary-1);
	background-color: var(--background-color);
}

.has-secondary-1-background-color {
	--background-color: var(--wp--preset--color--secondary-1);
	background-color: var(--background-color);
}

.has-tertiary-1-background-color {
	--background-color: var(--wp--preset--color--tertiary-1);
	background-color: var(--background-color);
}

.has-white-background-color {
	--background-color: #fff;
	color: var(--background-color);
}

.has-black-background-color {
	--background-color: #000;
	color: var(--background-color);
}

/* Foreground colors. */

.has-primary-1-color {
	--foreground-color: var(--wp--preset--color--primary-1);
	color: var(--foreground-color);
}

.has-secondary-1-color {
	--foreground-color: var(--wp--preset--color--secondary-1);
	color: var(--foreground-color);
}

.has-tertiary-1-color {
	--foreground-color: var(--wp--preset--color--tertiary-1);
	color: var(--foreground-color);
}

.has-white-color {
	--foreground-color: #fff;
	color: var(--foreground-color);
}

.has-black-color {
	--foreground-color: #000;
	color: var(--foreground-color);
}

/**
 * Container colors
 */

/* Maybe put in :root to create specificity */

/* Font sizes. */

.has-small-font-size {
	font-size: var(--font-size--sm);
}

.has-normal-font-size {
	font-size: var(--font-size--md);
}

.has-medium-font-size {
	font-size: var(--font-size--xl);
}

.has-large-font-size {
	font-size: var(--font-size--2xl);
}

.has-huge-font-size {
	font-size: var(--font-size--3xl);
}

.has-text-align-left {
	text-align: left;
}

.has-text-align-right {
	text-align: right;
}

.has-text-align-center {
	text-align: center;
}

/* Parallax */

.has-parallax {
	background-attachment: fixed;
}

/* Position: Top */

.is-position-top-left {
	align-items: flex-start;
	justify-content: flex-start;
}

.is-position-top-center {
	align-items: flex-start;
	justify-content: center;
}

.is-position-top-right {
	align-items: flex-start;
	justify-content: flex-end;
}

/* Position: Center */

.is-position-center-left {
	align-items: center;
	justify-content: flex-start;
}

.is-position-center-center {
	align-items: center;
	justify-content: center;
}

.is-position-center-right {
	align-items: center;
	justify-content: flex-end;
}

/* Position: Bottom */

.is-position-bottom-left {
	align-items: flex-end;
	justify-content: flex-start;
}

.is-position-bottom-center {
	align-items: flex-end;
	justify-content: center;
}

.is-position-bottom-right {
	align-items: flex-end;
	justify-content: flex-end;
}

/* Background dimming */

.has-background-dim {
	background-color: transparent;

}

.has-background-dim:before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		content: '';
		background-color: var(--background-color);
		opacity: .5;
	}

.has-background-dim-10:before { opacity: .1; }

.has-background-dim-20:before { opacity: .2; }

.has-background-dim-30:before { opacity: .3; }

.has-background-dim-40:before { opacity: .4; }

.has-background-dim-50:before { opacity: .5; }

.has-background-dim-60:before { opacity: .6; }

.has-background-dim-70:before { opacity: .7; }

.has-background-dim-80:before { opacity: .8; }

.has-background-dim-90:before { opacity: .9; }

.has-background-dim-100:before { opacity: 1; }

/*--------------------------------------------------------------
# Utilities - Helpers and overrides.
--------------------------------------------------------------*/

/* Editor background */

.editor-styles-wrapper {
	--background-color: var(--wp--preset--color--primary-1);
	--foreground-color: var(--wp--preset--color--secondary-1);

	background-color: var(--background-color);
	color: var(--foreground-color);
}

/* Block width */

/* .editor-styles-wrapper .wp-block { */

.edit-post-visual-editor__post-title-wrapper:after, .is-root-container:after {
	  content: "";
	  display: table;
	  clear: both;
	}

.edit-post-visual-editor__post-title-wrapper > *:first-child, .is-root-container > *:first-child { margin-top: 0; }

.edit-post-visual-editor__post-title-wrapper > *:last-child, .is-root-container > *:last-child { margin-bottom: 0; }

.edit-post-visual-editor__post-title-wrapper > *, .is-root-container > * {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: var(--column-span-6);
	}

@media (min-width: 1400px) {

.edit-post-visual-editor__post-title-wrapper > *, .is-root-container > * {
		max-width: var(--column-span-8);
	}
	}

.wp-block {
	/* max-width: none; */
}
