/**
 * Hide sticky post option in gutenberg
 */
/* .edit-post-post-schedule + .components-panel__row {
	display: none;
} */
/**
 * Try to remove border settings of button block
 */
/* .block-editor-panel-color-settings + .components-panel__body:not(:last-child) {
 	display: none;
 } */
/* Hide dropcaps on paragraphs... */
/* .block-editor-block-inspector .components-panel__body {
	display: none;
} */
/**
 * Unhide advanced panel from the editor
 */
/* .block-editor-block-inspector .components-panel__body.block-editor-block-inspector__advanced {
	display: block;
} */