.wp-block-columns {
	margin-top: calc(var(--vertical-space) * 2);
	margin-bottom: calc(var(--vertical-space) * 2);

	display: grid;
	column-gap: var(--gutter);
	row-gap: var(--space-8);

	grid-template-columns: 1fr;

	@media (--from-breakpoint-2) {
		grid-template-columns: 1fr 1fr;
	}
}

.wp-block-columns.is-style-columns-1 {
	grid-template-columns: 1fr;
}

.wp-block-columns.is-style-columns-3,
.wp-block-columns.is-style-columns-4 {

	@media (--from-breakpoint-4) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.wp-block-columns.is-style-columns-4 {

	@media (--from-breakpoint-6) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.wp-block-columns.is-style-columns-2 {
	grid-template-columns: 1fr;


	@media (--from-breakpoint-2) {
		grid-template-columns: 1fr 1fr;
	}
}

.wp-block-column {
	@mixin remove-first-last-child-margin;
}
