.wp-block-group {
	--background-color: transparent;

	position: relative;
	background-color: var(--background-color);
	display: flex;
	justify-content: center;

	&__inner-container {
		color: var(--foreground-color);
		width: 100%;

		@mixin remove-first-last-child-margin;

		/* @mixin has-page-content; */
	}
}

/* .wp-block-group.alignwide > .wp-block-group__inner-container,
.wp-block-group.alignfull > .wp-block-group__inner-container {
	@mixin is-page-segment;
} */

.has-background.wp-block-group {
	@mixin margin-collapse-fix;

	> .wp-block-group__inner-container {
		margin: var(--gutter);
	}
}

.has-flexbox-layout.wp-block-group {
	> .wp-block-group__inner-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: var(--space-4);
		width: 100%;

		> * {
			flex: 0 1 auto;
			width: auto;
			margin-bottom: 0;

			/* Fix editor style */
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.is-position-top-left,
.is-position-center-left,
.is-position-bottom-left {

	.wp-block-group {
		justify-content: flex-start;
	}
}

.is-position-top-right,
.is-position-center-right,
.is-position-bottom-right {

	.wp-block-group {
		justify-content: flex-end;
	}
}

