.wp-block-group {
	--background-color: transparent;

	position: relative;
	background-color: var(--background-color);

	/**
	 * By preference: no flex on group block
	 * because this creates difficulties with overlapping margins 
	 */
	/* display: flex;
	justify-content: center; */

	margin-top: var(--space-8);
	margin-bottom: var(--space-8);

	@media (--grid-columns-6) {
		margin-top: var(--space-12);
		margin-bottom: var(--space-12);
	}

	&__inner-container {
		color: var(--foreground-color);
		width: 100%;

		@mixin is-page-segment;
	}
}

.has-background.wp-block-group {
	@mixin margin-collapse-fix;

	> .wp-block-group__inner-container {
		margin: var(--gutter);
		width: auto;
		max-width: none;
	}
}

.has-flexbox-layout.wp-block-group {
	> .wp-block-group__inner-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: var(--space-4);
		width: 100%;

		> * {
			flex: 0 1 auto;
			width: auto;
			margin-bottom: 0;

			/* Fix editor style */
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.is-position-top-left,
.is-position-center-left,
.is-position-bottom-left {

	.wp-block-group {
		justify-content: flex-start;
	}
}

.is-position-top-right,
.is-position-center-right,
.is-position-bottom-right {

	.wp-block-group {
		justify-content: flex-end;
	}
}

