/**
 * Difference between pullquote and quote:
 *
 * - A quote is something someone else said.
 * - A pullquote is a piece of text from the text of your article, pulled out.
 *
 * @link https://github.com/WordPress/gutenberg/issues/11610
 */

.wp-block-quote {
	padding-left: var(--space-8);

	p {
		font-style: italic;
		font-weight: bold;
		margin-bottom: var(--space-4);
	}

	cite {
		font-size: var(--font-size--small);
		font-style: normal;
		font-weight: regular;
	}

	@media (--from-breakpoint-7) {
		margin-top: var(--space-10);
		margin-bottom: var(--space-10);
		padding-left: var(--column-gutter-1);
	}
}
