/**
 * Difference between pullquote and quote:
 *
 * - A quote is something someone else said.
 * - A pullquote is a piece of text from the text of your article, pulled out.
 *
 * @link https://github.com/WordPress/gutenberg/issues/11610
 */

.wp-block-quote {
	margin-left: var(--space-12);
	/* margin-right: calc(var(--space-12) * -1); */
	margin-top: var(--space-12);
	margin-bottom: var(--space-12);

	p {
		font-family: var(--font-2-family);
		/* line-height: var(--line-height--sm); */
		font-size: var(--font-size--xl);
		font-style: italic;
		margin-bottom: var(--space-6);
	}

	cite {
		/* font-style: italic; */
		font-size: var(--font-size--sm);
		font-weight: bold;
	}

}
