.wp-block-table {
	margin-bottom: var(--space-4);
	margin-top: var(--space-4);

	.has-fixed-layout {
		table-layout: fixed;
	}

	table {
		margin-bottom: 0;
	}

	th,
	td {
		padding: var(--space-1) 0;
		border-bottom: var(--ui-border-width) var(--ui-border-style) var(--foreground-color);
	}

	th {
		font-size: var(--font-size--sm);
		font-weight: bold;
	}

	tr {
		&:nth-child(odd) {
			td {
				/* @mixin background--light; */
			}
		}
	}

	td {
		font-size: var(--font-size--sm);
	}

	tfoot td {
		/* font-weight: bold; */
		color: var(--ui-color);
	}

	figcaption {
	}
}

