.site {
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: var(--font-1-family);
	line-height: var(--font-1-line-height);
	min-height: 100vh;

	&__inner {
		@mixin margin-collapse-fix;
		@mixin full-page-content-overflow-fix;
		clear: both;
		min-height: 100vh;
	}

	.is-development & {
		position: relative;
		z-index: 1;

		&:before {
			content: '';
			@mixin dev--background-grid-child;
		}

		&:after {
			@mixin dev--media-query-info-in-pseudo-element;
		}
	}
}

.has-expanded-site-nav .site {
	/**
	 * Prevent scrolling
	 */
	overflow-y: hidden;
  	overscroll-behavior: contain;
  	height: 100vh;

	@media (min-device-width: 1025px) {
		padding-right: 12px;
	}
}
