/* Use values with units as much as you can because of performance impact calculating the unit */

:root {

	--rem-size: 125%;

	/* Typography */
	--font-1-family: unit-rounded, sans-serif;
	--font-1-line-height: 1.333;

	/* Font Sizes */
	--font-size--min: 0.8125rem;
	--font-size--xs: 0.8125rem;
	--font-size--small: 0.9rem;
	--font-size--base: 1rem;
	--font-size--large: 1.1rem;
	--font-size--extra-large: 1.25rem;
	--font-size--huge: 1.5rem;
	--font-size--gigantic: 2rem;
	--font-size--max: 2.5rem;

	/* Utility Mapping */
	--font-size--site-nav: var(--font-size--large);
	--font-size--site-nav-toggle: var(--font-size--huge);
	--font-size--meta: var(--font-size--small);
	--font-size--label: var(--font-size--small);
	--font-size--h3: var(--font-size--base);
	--font-size--h2: var(--font-size--huge);
	--font-size--h1: var(--font-size--max);

	/* Line heights */
	--line-height--xs: 1;
	--line-height--small: 1.2;
	--line-height--md: 1.5;
}

