/**
 * Editor stylesheet for the theme.
 *
 * Theme styles follow http://cssguidelin.es/ and are organized according to
 * Inverted Triangle CSS (ITCSS) principles put forth by Harry Roberts. In
 * short, each layer of CSS gets more specific as you move down this page.
 */

/*--------------------------------------------------------------
# Settings - Global variables, config switches.
--------------------------------------------------------------*/

@import "settings/media-queries.css";
@import "settings/fonts.css";
@import "settings/typography.css";
@import "settings/spacing.css";
@import "settings/colors.css";
@import "settings/effects.css";
@import "settings/misc.css";


/*--------------------------------------------------------------
# Tools - Default mixins and functions.
--------------------------------------------------------------*/
@import "tools/mixins.css";
@import "tools/mixins-development.css";
@import "tools/mixins-structure.css";
@import "tools/mixins-typography.css";


/*--------------------------------------------------------------
# Generic - Ground-zero styles (resets, box-sizing, etc.).
--------------------------------------------------------------*/
/* @import "generic/reset.css"; */
@import "generic/base.css";
@import "generic/reset-editor-style.css";


/*--------------------------------------------------------------
# Structure - 
--------------------------------------------------------------*/
/* @import "structure/root.css";
@import "structure/site.css";
@import "structure/site-header.css";
@import "structure/site-main.css";
@import "structure/site-footer.css";
@import "structure/page.css";
@import "structure/page-header.css";
@import "structure/page-main.css";
@import "structure/page-footer.css";
@import "structure/page-comments.css"; */


/*--------------------------------------------------------------
# Blocks - editor related styles.
--------------------------------------------------------------*/
/* @import "blocks/core/button.css";
@import "blocks/core/code.css";
@import "blocks/core/cover.css";
@import "blocks/core/gallery.css";
@import "blocks/core/image.css";
@import "blocks/core/media-text.css";
@import "blocks/core/pullquote.css";
@import "blocks/core/quote.css"; */
/* @import "blocks/core/separator.css";
@import "blocks/core/table.css"; */
@import "blocks/core/columns.css";
@import "blocks/core/group.css";

/* @import "blocks/theme/wbl-card.css";
@import "blocks/theme/wbl-segment.css";
@import "blocks/theme/wbl-simple-container.css";
@import "blocks/theme/wbl-simple-image.css"; */

@import "blocks/colors.css";
@import "blocks/misc.css";

/*--------------------------------------------------------------
# Utilities - Helpers and overrides.
--------------------------------------------------------------*/
@import "utilities/helpers.css";


/* Editor background */
body {
	--background-color: var(--wp--preset--color--primary-1);
	--foreground-color: var(--wp--preset--color--secondary-1);

	background-color: var(--background-color);
	color: var(--foreground-color);

	font-family: var(--font-family);
    line-height: var(--line-height--normal);

	font-size: var(--rem-size);
}

/* Block width */
/* .editor-styles-wrapper .wp-block { */
.edit-post-visual-editor__post-title-wrapper,
.is-root-container {
	@mixin is-page-segment;
	@mixin has-page-content;
}

/**
 * Fix max width on wp-block class
 */
.wp-block {
	max-width: none;
}

/**
 * Reset default style for alignfull wrapper around group-block
 */
.block-editor-block-list__layout.is-root-container > .wp-block[data-align="wide"] {
	@mixin is-page-content--full-page;
}

.block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
	@mixin is-page-content--full-screen-editor-fix;
}
