/**
 * Block: core/button
 */

.wp-block-buttons {
	margin-bottom: $space-4;
	display: flex;
	flex-wrap: wrap;

	&.aligncenter {
		display: flex;
		justify-content: center;
	}

	&.alignright {
		display: flex;
		justify-content: flex-end;
	}
}

.wp-block-button {

	&__link {
		@include button;
	}

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}

	& + & {
		margin-left: calc(var(--column) * 0.5);
	}
}

