/**
 * Block: Core/Columns
 */

.wp-block-columns {
	display: grid;
	column-gap: var(--grid--gutter);
	row-gap: $space-8;

	grid-template-columns: 1fr;

	@media (--from-breakpoint-2) {
		grid-template-columns: 1fr 1fr;
	}

	&.is-style-columns-1 {
		grid-template-columns: 1fr;
	}

	&.is-style-columns-2 {}

	&.is-style-columns-3,
	&.is-style-columns-4 {

		@media (--from-breakpoint-4) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&.is-style-columns-4 {

		@media (--from-breakpoint-6) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}


	&.alignwide,
	&.alignfull {
		@media (--from-breakpoint-5) {
			margin-top: $space-20;
			margin-bottom: $space-20;
		}
	}
}

.block-editor-block-list__block.wp-block-column,
.wp-block-column {
	@include remove-first-last-child-margin;

	// Reset opionated gutenberg style
	&:not(:first-child) {
	    margin-left: 0;
	}
}
