/**
 * Block: Core/Group
 */

.wp-block-group {
	position: relative;

	// By preference: no flex on group block
	// because this creates difficulties with overlapping margins 
	// display: flex;
	// justify-content: center;

	margin-top: $space-8;
	margin-bottom: $space-8;

	@media (--from-breakpoint-3) {
		margin-top: $space-12;
		margin-bottom: $space-12;
	}

	&.alignwide,
	&.alignfull {
		@media (--from-breakpoint-5) {
			margin-top: $space-20;
			margin-bottom: $space-20;
		}
	}

	&.has-background {
		@include margin-collapse-fix;
		@include remove-first-last-child-margin;
		padding: $space-4;
	}
}
