/**
 * Block: Core/Group
 */

// In the future inner-container will be deprecated due to LayoutSettings.
// But currently I can assume it's present in our websites.

// By preference: no flex on group block
// because this creates difficulties with overlapping margins 

.wp-block-group {
	position: relative;

	margin-top: $space-8;
	margin-bottom: $space-8;

	@media (--from-breakpoint-3) {
		margin-top: $space-12;
		margin-bottom: $space-12;
	}

	&.alignwide,
	&.alignfull {
		@media (--from-breakpoint-5) {
			margin-top: $space-20;
			margin-bottom: $space-20;
		}
	}

	// If group has background we treat is a special content container
	&.has-background {
		@include margin-collapse-fix;
	}

	&.has-background > &__inner-container {
		margin-top: $space-20;
		margin-bottom: $space-20;
		
		> * {
			@include is-page-content;
		}

		> .alignwide {
			@include is-page-content--wide;
		}

		> .alignfull {
			@include is-page-content--full;
		}
	}
}

// Editor
.is-root-container .wp-block-group {

	&.has-background > .wp-block[data-align="wide"],
	&.has-background > .wp-block-group__inner-container > .wp-block[data-align="wide"] {
		@include is-page-content--wide;
	}

	&.has-background > .wp-block[data-align="full"],
	&.has-background > .wp-block-group__inner-container > .wp-block[data-align="full"] {
		@include is-page-content--full;
	}

	&.has-background > .wp-block-group__inner-container > * {
		margin-left: auto;
	}
}

