/**
 * Block: Core/Group
 */

// By preference: no flex on group block
// because this creates difficulties with overlapping margins 

.wp-block-group {
	position: relative;

	margin-top: $space-8;
	margin-bottom: $space-8;

	@media (--from-breakpoint-3) {
		margin-top: $space-12;
		margin-bottom: $space-12;
	}

	&.alignwide,
	&.alignfull {
		@media (--from-breakpoint-5) {
			margin-top: $space-20;
			margin-bottom: $space-20;
		}
	}

	// If group has background we treat is a special content container
	&.has-background {
		@include margin-collapse-fix;
		@include remove-first-last-child-margin;

		padding-top: $space-20;
		padding-bottom: $space-20;
		
		> * {
			@include is-page-content;
		}

		> .alignwide {
			@include is-page-content--wide;
		}

		> .alignfull {
			@include is-page-content--full;
		}
	}


	// The presence of inner-container is doubtful due to 
	// layout setttings. But it could always be present.
	// So we style it.
	&__inner-container {
		@include margin-collapse-fix;
		@include remove-first-last-child-margin;
	}

	// Reset inner-container...
	&.has-background > &__inner-container {
		@include is-page-content--full;

		> * {
			@include is-page-content;
		}

		> .alignwide {
			@include is-page-content--wide;
		}

		> .alignfull {
			@include is-page-content--full;
		}
	}
}
