/**
 * Block: Core/Image
 */

.wp-block-image {

	/* Remove margin bottom from linked images */
	a img {
		margin-bottom: 0;
	}


	figcaption {

	}

	&.alignwide,
	&.alignfull {
		max-width: none;
		figcaption {
			@include is-page-segment;
			@include is-page-content--normal;
		}
		img {
			width: 100%;
		}
	}

	&.alignfull {
		@include is-page-content--full-screen;
	}
}
