/**
 * Block: Core/Media-text
 */

.wp-block-media-text {
	display: grid;
	align-items: center;
	grid-gap: var(--grid--gutter);

	&.is-vertically-aligned-top {
		align-items: start;
	}

	&.is-vertically-aligned-center {
		align-items: center;
	}

	&.is-vertically-aligned-bottom {
		align-items: end;
	}

	@media (--from-breakpoint-1) {
		grid-template-areas: "media-text-media media-text-content";
		grid-template-columns: repeat(2, 1fr);

		&.has-media-on-the-right {
			grid-template-areas: "media-text-content media-text-media";
		}

		&__media {
			grid-area: media-text-media;
		}

		&__content {
			grid-area: media-text-content;
		}
	}

}
/*
.wp-block-media-text__media {
	margin: 0;
}
 */
