/**
 * A generic container segment for this theme
 *
 * Elements
 * &__inner
 * &__header
 * &__content // main
 *
 * Modifiers
 * &--two-column-text
 * &--blog
 * &--call-to-action
 */

 .wbl-segment {
	@mixin is-page-segment;
	--foreground-color: inherit;
	--background-color: transparent;

	background-color: var(--background-color);
	color: var(--foreground-color);
	border-color: var(--foreground-color);
	margin-top: var(--space-8);
	margin-bottom: var(--space-8);

	&__inner {
		@mixin has-page-content;
	}

	&__title {

		&:not(h1) {
			@mixin segment-title;
		}

		@media (--grid-columns-8) {
			margin-right: calc(var(--column-gutter) * 2);
		}
	}

	&__content {
		display: grid;
		column-gap: var(--gutter);
		row-gap: var(--space-3);
		grid-template-columns: 1fr;

		> * {
			margin-bottom: 0;
			width: 100%;
		}
	}

	/** Media Queries */
	@media (--from-breakpoint-4) {
		margin-top: var(--space-10);
		margin-bottom: var(--space-10);
	}

 	/** Additional and modifying classes */

 	/**
 	 * Two Column Text
 	 */
	&--two-column-text {

	}

	&--two-column-text h1&__title {
	}

	&--two-column-text &__content {

		@media (--from-breakpoint-2) {
			grid-template-columns: 1fr 1fr;
			@mixin ie11-grid-fallback 2;
		}
	}

	/**
	 * Portfolio / Recent werk
	 */
	&--portfolio {
		@mixin margin-collapse-fix;
		--background-color: var(--wp--preset--color--secondary-1);
		--foreground-color: var(--wp--preset--color--primary-1);
		margin-top: var(--space--1);
	}

	&--portfolio &__inner {
		margin-top: var(--space-6);
		margin-bottom: var(--space-6);
	}

	&--portfolio &__content {
		row-gap: var(--space-6);

		@media (--from-breakpoint-2) {
			grid-template-columns: 1fr 1fr;
			@mixin ie11-grid-fallback 2;
		}

		@media (--from-breakpoint-4) {
			grid-template-columns: 1fr 1fr 1fr 1fr;

			.wbl-simple-image {
				grid-column: 1 / 4;
			}
		}
	}

	/**
	 * Blog
	 */
	&--blog {
		margin-top: var(--space-8);
		margin-bottom: var(--space-10);

		.posts {
			margin: 0;
		}
	}

	&--blog &__heading {
		margin-bottom: 0;
	}

	/**
	 * Featured four
	 */
	&--featured-four {}

	&--featured-four &__content {
		row-gap: var(--space-6);

		.wbl-card__image-container {
			padding-right: var(--gutter);
		}

		.wbl-card__image {
			width: 240px;
		}

		@media (--from-breakpoint-1) {
			grid-template-columns: 1fr 1fr;
			@mixin ie11-grid-fallback 2;
		}

		@media (--grid-columns-8) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			@mixin ie11-grid-fallback 4;
		}
	}

	/**
	 * Companiees
	 */
	&--companies &__content {
	 	display: flex;
	 	column-gap: normal;
	 	row-gap: normal;
		flex-wrap: wrap;
		align-items: center;
		margin: var(--space--1) var(--space--1);
		margin-bottom: 0;

		figure {
			flex: 0 1 auto;
			width: auto;
			margin: var(--space-1) var(--space-1);
		}

		img {
			max-height: 40px;
		}

		@media (--from-breakpoint-2) {
			margin-left: var(--space--2);
			margin-right: var(--space--2);

			figure {
				margin-left: var(--space-2);
				margin-right: var(--space-2);
			}

			img {
				max-height: 60px;
			}
		}

		@media (--from-breakpoint-5) {

			img {
				max-height: 84px;
			}
		}
	}
}

/* Editor */
.is-root-container [data-type="wbl-theme/segment"] {
	@mixin editor--is-container;
	@mixin editor--is-full-width;

	.wbl-segment {
		margin: 0;
	}

	.wbl-segment__heading {
		margin-bottom: 0;
	}

	.wbl-segment__content {
		display: block;
		column-count: auto;
	}

	.wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: grid;
		column-gap: var(--gutter);
		row-gap: var(--space-3);
		grid-template-columns: 1fr;

		> * {
			margin-bottom: 0;
			margin-left: 0;
			width: 100%;
		}
	}

	.wbl-segment--two-column-text .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout {

		@media (--from-breakpoint-2) {
			grid-template-columns: 1fr 1fr;
			@mixin ie11-grid-fallback 2;
		}
	}

	.wbl-segment--featured-four .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout {

		@media (--from-breakpoint-2) {
			grid-template-columns: 1fr 1fr;
			@mixin ie11-grid-fallback 2;
		}

		@media (--from-breakpoint-4) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}

	.wbl-segment--portfolio {
		@mixin editor--is-full-width;
	}

	.wbl-segment--portfolio .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout {
		@media (--from-breakpoint-2) {
			grid-template-columns: 1fr 1fr;
			@mixin ie11-grid-fallback 2;
		}

		@media (--from-breakpoint-4) {
			grid-template-columns: 1fr 1fr 1fr 1fr;

			[data-type="wbl-theme/simple-image"] {
				grid-column: 1 / 4;
			}
		}
	}

	.wbl-segment--call-to-action {
		@mixin editor--is-full-width;
	}

	.wbl-segment--companies .wbl-segment__content > .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: var(--space--1) var(--space--2);

		> * {
			flex: 0 1 auto;
			width: auto;
			margin-top: var(--space-1);
			margin-bottom: var(--space-1);
			margin-left: var(--space-2);
			margin-right: var(--space-2);

			.wbl-simple-image {
				margin: 0;
			}

			img {
				max-height: 84px;
			}
		}
	}
}

