///
/// Editor stylesheet for the theme.
///
/// Theme styles follow http://cssguidelin.es/ and are organized according to
/// Inverted Triangle CSS (ITCSS) principles put forth by Harry Roberts. In
/// short, each layer of CSS gets more specific as you move down this page.
///


///
/// Tools - Default mixins and functions.
///

@import "tools/variables";
@import "tools/mixins";
@import "tools/mixins-development";
@import "tools/mixins-structure";
@import "tools/mixins-typography";


///
/// Settings - Global variables, config switches.
///
@import "settings/media-queries";
// @import "settings/rem";
@import "settings/grid";
@import "settings/typography"; 
@import "settings/misc";


///
/// Generic - Ground-zero styles (resets, box-sizing, etc.).
///
@import "generic/reset";
@import "generic/base";


// ///
// /// Structure - 
// ///
// @import "structure/root";
// @import "structure/site";
// @import "structure/site-header";
// @import "structure/site-main";
// @import "structure/site-footer";
// @import "components/page";
// @import "components/entry";


// ///
// /// Blocks - editor related styles.
// ///
// @import "blocks/core/button";
// @import "blocks/core/code";
// @import "blocks/core/cover";
// @import "blocks/core/columns";
// @import "blocks/core/gallery";
// @import "blocks/core/group";
// @import "blocks/core/heading";
// @import "blocks/core/image";
// @import "blocks/core/media-text";
// @import "blocks/core/paragraph";
// @import "blocks/core/pullquote";
// @import "blocks/core/quote";
// @import "blocks/core/separator";
// @import "blocks/core/table";


// ///
// /// Components - specific UI components.
// ///
// @import "components/call-to-action";
// @import "components/entry-author";
// @import "components/entry-password-protection-status";
// @import "components/entry-navigation";
// @import "components/entry-terms";
// @import "components/loop";
// @import "components/loop-pagination";
// @import "components/password-protection-form";
// @import "components/project-specs";
// @import "components/search-form";
// @import "components/site-debug-info";
// @import "components/site-nav";
// @import "components/site-branding";
// @import "components/site-nav-toggle";
// @import "components/social-media-list";
// @import "components/social-media-link";


// ///
// /// Utilities - Helpers and overrides.
// ///
// @import "utilities/accessibility";
// @import "utilities/alignments";
// @import "utilities/helpers";
// @import "utilities/wordpress";
// @import "utilities/shame";
// @import "utilities/templates";

//
// Custom values 
//
// - Grid: because we can't use vw yet
// - Typography: because we can't manipulate rem size yet
//
body {

	// Grid

	// We use custom widths and need to think of the sidebars
	--site--width:   960px;
	--site--margin:  auto;
	--grid--column:  36px; 
	--grid--gutter:  48px; 

	--layout--content--size: var(--grid--column-span--8);
	--layout--content--margin-left: calc(var(--grid--column-span--2) + var(--grid--gutter));

	--layout--wide--size: var(--grid--column-span--10);
	--layout--wide--margin-left: calc(var(--grid--column-span--1) + var(--grid--gutter));

	--layout--full--size: 100%;
	--layout--full--margin-left: 0;

	@media (--from-breakpoint-7) {
		--site--width:   1260px;
		--grid--column:  18px; 
		--grid--gutter:  36px; 

		--layout--content--size: var(--grid--column-span--12);
		--layout--content--margin-left: calc(var(--grid--column-span--6) + var(--grid--gutter));

		--layout--wide--size: var(--grid--column-span--18);
		--layout--wide--margin-left: calc(var(--grid--column-span--3) + var(--grid--gutter));
	}

	// Typography
	--rem-size: 150%;
}

//
// Body will be transformed to .editor-styles-wrapper because we add
// theme support for editor-styles in this theme
//
// @link https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#editor-styles
//
body {
	// In the editor, set this on the body
	font-size: var(--rem-size);

	// Grid
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin-left: auto;
		margin-right: auto;
		width: var(--site--width);
		opacity: 0.025;

		@include dev--background-grid;		
	}
}

// Add layout for block-containers similar as frontend
.edit-post-visual-editor__post-title-wrapper,
.is-root-container {
	width: var(--site--width);
	margin-left: auto;
	margin-right: auto;
	
	> * {
		@include is-page-content;
	}
}

// Reset default style for alignfull wrapper around group-block
.block-editor-block-list__layout.is-root-container > .wp-block[data-align="wide"] {
	@include is-page-content--wide;
}

.block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
	@include is-page-content--full;
}

// // Fix columns block extra margin
// .block-editor-block-list__block.wp-block-column:not(:first-child) {
//     margin-left: 0;
// }

h1.has-background, 
h2.has-background, 
h3.has-background, 
h4.has-background, 
h5.has-background, 
h6.has-background {
    padding: 0;
}