/**
 * Editor stylesheet for the theme.
 *
 * Theme styles follow http://cssguidelin.es/ and are organized according to
 * Inverted Triangle CSS (ITCSS) principles put forth by Harry Roberts. In
 * short, each layer of CSS gets more specific as you move down this page.
 */

/*--------------------------------------------------------------
# Settings - Global variables, config switches.
--------------------------------------------------------------*/

@import "settings/media-queries.css";
@import "settings/misc.css";


/*--------------------------------------------------------------
# Tools - Default mixins and functions.
--------------------------------------------------------------*/
@import "tools/mixins.css";
@import "tools/mixins-development.css";
@import "tools/mixins-structure.css";
@import "tools/mixins-typography.css";


/*--------------------------------------------------------------
# Generic - Ground-zero styles (resets, box-sizing, etc.).
--------------------------------------------------------------*/
/* @import "generic/reset.css"; */
@import "generic/base.css";
@import "generic/reset-editor-style.css";


/*--------------------------------------------------------------
# Structure - 
--------------------------------------------------------------*/
/* @import "structure/root.css";
@import "structure/site.css";
@import "structure/site-header.css";
@import "structure/site-main.css";
@import "structure/site-footer.css";
@import "structure/page.css";
@import "structure/page-header.css";
@import "structure/page-main.css";
@import "structure/page-footer.css";
@import "structure/page-comments.css"; */


/*--------------------------------------------------------------
# Blocks - editor related styles.
--------------------------------------------------------------*/
/* @import "blocks/core/button.css";
@import "blocks/core/code.css";
@import "blocks/core/cover.css";
@import "blocks/core/gallery.css";
@import "blocks/core/image.css";
@import "blocks/core/media-text.css";
@import "blocks/core/pullquote.css"; */
@import "blocks/core/quote.css";
/* @import "blocks/core/separator.css";
@import "blocks/core/table.css"; */
@import "blocks/core/columns.css";
@import "blocks/core/group.css";


/*--------------------------------------------------------------
# Utilities - Helpers and overrides.
--------------------------------------------------------------*/
@import "utilities/helpers.css";

/**
 * Custom values 
 *
 * - Grid: because we can't use vw yet
 * - Typography: because we can't manipulate rem size yet
 */
body {

	/* Grid */
	--site--width:   1320px;
	--site--padding: 90px;
	--grid--column:  55px; 
	--grid--gutter:  60px; 

	/* Typography */
	--rem-size: 150%;		
	--wp--preset--font-size--extra-small: 0.75rem;
	--wp--preset--font-size--small: 0.875rem;	
	--wp--custom--line-height--normal: 1.4;
}

/**
 * Body will be transformed to .editor-styles-wrapper because we add
 * theme support for editor-styles in this theme
 *
 * @link https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#editor-styles
 */
body {
	--background-color: var(--wp--preset--color--primary-1);
	--foreground-color: var(--wp--preset--color--secondary-1);

	background-color: var(--background-color);
	color: var(--foreground-color);

	font-family: var(--wp--custom--font-family);
    line-height: var(--wp--custom--line-height--normal);

	font-size: var(--rem-size);

	/**
	 * Enforce a basic font-size similar to frontend. We assume large screens
	 */
	font-size: 24px;

	/**
	 * Grid
	 */
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin-left: auto;
		margin-right: auto;
		width: var(--site--width);
		opacity: 0.025;

		--foreground-color: #000;

		@include dev--background-grid;		
	}
}

/**
 * Add layout for block-containers similar as frontend
 */
.edit-post-visual-editor__post-title-wrapper,
.is-root-container {
	@include is-page-segment;
	@include has-page-content;
}

/**
 * Reset default style for alignfull wrapper around group-block
 */
.block-editor-block-list__layout.is-root-container > .wp-block[data-align="wide"] {
	@include is-page-content--full-page;
}

.block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
	@include is-page-content--full-screen-editor-fix;
}

/**
 * Fix columns block extra margin
 */
.block-editor-block-list__block.wp-block-column:not(:first-child) {
    margin-left: 0;
}