///
/// Tools: Mixins Structure
///
/// predefined css, usable anywhere in the stylesheets 
///

///
@mixin is-page-segment {
	margin-left: auto;
    margin-right: auto;
	max-width: var(--site--width);
	width: 100%;
}

@mixin is-page-segment--full-site {
	margin-left: var(--site--padding);
    margin-right: var(--site--padding);
	max-width: none;
	width: auto;
}

@mixin is-page-segment--full-screen {
	margin-left: 0;
    margin-right: 0;
	max-width: none;
	width: auto;
}

@mixin is-page-content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@include is-page-content--normal;
}

@mixin is-page-content--normal {
	@media (--from-breakpoint-3) {
		max-width: var(--grid--column-span--4);
	}

	@media (--from-breakpoint-5) {
		// margin-left: var(--column-gutter-2);
		max-width: var(--grid--column-span--8);
	}

	@media (--from-breakpoint-7) {
		// max-width: var(--grid--column-span--7);
	}
}

@mixin is-page-content--full-page {
	max-width: none;
	margin-top: $space-8;
	margin-bottom: $space-8;
}

@mixin is-page-content--full-site {
	max-width: none;
	margin-top: $space-8;
	margin-bottom: $space-8;

	@include is-page-content--full-screen;
}

@mixin is-page-content--full-screen-with-background {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: none;
	width: auto;

	@media (--from-breakpoint-3) {
		margin-left: calc(50% - 50vw + var(--site--padding));
		margin-right: calc(50% - 50vw + var(--site--padding));
	}
}

@mixin is-page-content--full-screen-with-padding {
	margin-left: calc(50% - 50vw + var(--site--padding));
	margin-right: calc(50% - 50vw + var(--site--padding));
	max-width: none;
	width: auto;

	margin-top: $space-16;
	margin-bottom: $space-16;
}

@mixin is-page-content--full-screen {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: none;
	width: auto;
	
	margin-top: $space-16;
	margin-bottom: $space-16;
}

@mixin is-page-content--right {
	float: right;
	margin-left: var(--grid--gutter);

	@media (--from-breakpoint-3) {
		max-width: var(--grid--column-span--2);
	}

	@media (--from-breakpoint-5) {
		max-width: var(--grid--column-span--3);
	}
}

@mixin is-page-content--left {
	float: left;
	margin-right: var(--grid--gutter);

	@media (--from-breakpoint-5) {
		max-width: var(--grid--column-span--4);
	}
}

@mixin is-full-width {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: none;
	width: auto;
}

@mixin reset-page-segment {
	max-width: none;
	padding-left: 0;
	padding-right: 0;
}

@mixin has-page-content {
	// @include clearfix;
	// @include remove-first-last-child-margin;

	> * {
		@include is-page-content;
	}
}

@mixin reset-page-content {
	margin-left: auto;
	margin-right: auto;
	max-width: none;
}

///

@mixin remove-first-last-child-margin {
	> *:first-child { margin-top: 0; }
	> *:last-child { margin-bottom: 0; }
}

/// Collapse vertical margin 
@mixin margin-collapse-fix {
    overflow-y: hidden;
}

/// Clearfix for floating 
@mixin clearfix {
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}

@mixin full-page-content-overflow-fix {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

/// Editor structure helpers 

@mixin is-page-content--editor {
	max-width: none;
}

/// Fix fullscreen in editor 
@mixin editor--is-full-width {
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

@mixin is-page-content--full-screen-editor-fix {
	max-width: none;
	width: auto;
	margin-left: 0;
	margin-right: 0;

	@media (--from-breakpoint-6) {
		margin-left: -5vw;
		margin-right: -5vw;
	}

	@media (--from-breakpoint-7) {
		margin-left: -7vw;
		margin-right: -7vw;
	}
}

@mixin editor--is-container {
	box-shadow: inset 0 0 0 1px var(--editor-container--ui-color);
}

@mixin editor--inner-blocks {
	& > .block-editor-inner-blocks > .block-editor-block-list__layout {
		@mixin-content;
	}
}
